openapi: 3.0.0
info:
  description: >-
    Unified remote push notifications, location services, actionable analytics,
    loyalty and marketing automation for iOS, Android and Web apps.

    Create user profiles, categorize your users and devices, create & schedule
    any rich and interactive notification.

    Tap into millions of App Store and Google Play users with in-app products,
    run reward and loyalty programs with digital cards in Wallet and use
    Geo-Targeting, Geo-Fencing or iBeacon technology to provide the ultimate
    messaging experience.


    Sign up for free [here](https://dashboard.notifica.re/#/sign-up).


    The API calls below are all authenticated. There are 4 types of
    authentication credentials:


    - `email` / `password`: Used for signing in to your account and retrieving a
    session token


    - `token`: Used for all calls that need account-wide access, such as stats,
    lists of applications, etc.


    - `applicationKey` / `applicationSecret`: Only used for calls that originate
    from the device, e.g., registration, tags.


    - `applicationKey` / `masterSecret`: Used for calls that are related to a
    specific application and originate from your backend system, e.g., push,
    user segments, user lists, device lists, regions.


    All 4 types use normal Basic HTTP Authentication (username + password), in
    case of token, the password is ignored, so can be anything, e.g. "xxx"


    For more information about this API, please [contact
    us](http://notifica.re/contact).
  title: Notificare REST API
  version: 1.86
  termsOfService: https://notificare.com/terms
  contact:
    name: Notificare Support
    email: support@notifica.re
    url: https://support.notifica.re
  externalDocs:
    description: Find out more
    url: https://docs.notifica.re
servers:
  - url: 'https://push.notifica.re'
  - url: 'http://localhost:3006'
paths:
  /account/login:
    post:
      security:
        - Password: []
      responses:
        '201':
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/AccountSession'
          description: Created
        '401':
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/ResponseError'
              example:
                error: wrong credentials
          description: Wrong credentials
        '403':
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/ResponseError'
              example:
                error: account blocked
          description: Account blocked
        '404':
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/ResponseError'
              example:
                error: account not found
          description: Account not found
        '429':
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/ResponseError'
              example:
                error: too many login attempts
          description: Too many login attempts
      tags:
        - Account
      description: >-
        Retrieve session token based on account credentials. This request must
        be authenticated with the `email` and `password`.
      operationId: postAccountLogin
      summary: Account Login
    delete:
      security:
        - Token: []
      responses:
        '204':
          description: No Content
      tags:
        - Account
      description: >-
        Delete account session. This request must be authenticated with the
        `token`.
      operationId: deleteAccountLogin
      summary: Account Logout
  /account/login/totp:
    post:
      security:
        - Token: []
      responses:
        '201':
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/AccountSession'
          description: Created
      tags:
        - Account
      description: >-
        Provide the 6 digit code after retrieving session token with account
        credentials. This request must be authenticated with the `token`.
      requestBody:
        content:
          application/json:
            schema:
              properties:
                code:
                  description: The code generated by Google Authenticator app.
                  type: number
                  example: '123456'
              required:
                - code
              type: object
      operationId: postAccountLoginTotp
      summary: Login TOTP
  /account/2fa:
    get:
      security:
        - Token: []
      responses:
        '200':
          description: OK
          content:
            application/json; charset=utf-8:
              schema:
                properties:
                  use2FA:
                    type: boolean
                    default: false
                  totp:
                    properties:
                      configured:
                        type: boolean
                        default: false
                      verified:
                        type: boolean
                        default: false
                      date:
                        $ref: '#/components/schemas/Date'
                    type: object
                  u2f:
                    properties:
                      configured:
                        type: boolean
                        default: false
                    type: object
      tags:
        - Account
      description: >-
        Retrieve the account 2FA state. This should provide information about
        2FA functionality for your account. This request must be authenticated
        with the `token`.
      operationId: getAccount2fa
      summary: Check 2FA
  /account/2fa/totp:
    post:
      security:
        - Token: []
      responses:
        '200':
          content:
            application/json; charset=utf-8:
              schema:
                properties:
                  key:
                    type: string
                    example: 'xxx'
                  url:
                    type: string
                    example: 'otpauth://totp/xxx?secret=xxx&period=30&issuer=xxx'
                type: object
          description: Registered TOTP
        '403':
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/ResponseError'
              example:
                error: authenticator already setup
          description: Authenticator already setup
      tags:
        - Account
      description: >-
        Register your account for TOTP. This endpoint will provide you a key
        (for manual setup) and URL (to create a QRCode) that allows you to
        configure the Google Authenticator app. This request must be
        authenticated with the `token`.
      operationId: Register TOTP
      summary: Register TOTP
    delete:
      security:
        - Token: []
      responses:
        '204':
          description: Unregistered TOTP
        '403':
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/ResponseError'
              example:
                error: authenticator not setup
          description: Authenticator not setup
      tags:
        - Account
      description: >-
        Unregister your account for TOTP. This endpoint will delete the setup
        for the Google Authenticator app. This request must be authenticated
        with the `token`.
      operationId: deleteAccountTotp
      summary: Unregister TOTP
  /account/2fa/enable:
    put:
      security:
        - Token: []
      responses:
        '200':
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/ResponseMessage'
              examples:
                enabled:
                  value:
                    message: "second factor enabled"
                already enabled:
                  value:
                    message: "second factor already enabled"
          description: Enabled 2FA
        '403':
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/ResponseError'
              examples:
                not verified:
                  value:
                    error: no verified second factor
                not configured:
                  value:
                    error: no second factor configured
          description: No second factor
      tags:
        - Account
      description: >-
        At any time when your account has been configured for 2FA, you can use
        this endpoint to enable it. This request must be authenticated with the
        `token`.
      operationId: putAccount2faEnable
      summary: Enable 2FA
  /account/2fa/disable:
    put:
      security:
        - Token: []
      responses:
        '200':
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/ResponseMessage'
              examples:
                disabled:
                  value:
                    message: "second factor disabled"
                already disabled:
                  value:
                    message: "second factor already disabled"
          description: Disabled 2FA
      tags:
        - Account
      description: >-
        At any time when your account has been configured for 2FA and is
        enabled, you can disable it. This request must be authenticated with the
        `token`.
      operationId: putAccount2faDisable
      summary: Disable 2FA
  /application:
    get:
      security:
        - Token: []
      parameters:
        - description: The number of results to retrieve.
          example: '10'
          in: query
          name: limit
          required: false
          schema:
            default: 50
            type: number
        - description: The number of results to skip
          example: '0'
          in: query
          name: skip
          required: false
          schema:
            type: number
      responses:
        '200':
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/ApplicationList'
          description: Created
      tags:
        - Application
      description: >-
        Get your active applications. This request must be authenticated with
        the `token`.
      operationId: getApplication
      summary: List Applications
    post:
      security:
        - Token: []
      responses:
        '201':
          content:
            application/json; charset=utf-8:
              schema:
                properties:
                  application:
                    $ref: '#/components/schemas/ResponseCreated'
          description: Created
      tags:
        - Application
      description: >-
        Create a new application. This request must be authenticated with the
        `token`.
      operationId: postApplication
      requestBody:
        content:
          application/json:
            schema:
              properties:
                category:
                  description: Your application's category.
                  type: string
                name:
                  description: Your application's name.
                  type: string
                production:
                  description: If your application is set to production or not.
                  type: boolean
              required:
                - name
                - production
                - category
              type: object
      summary: Create Application
  /application/shared:
    get:
      security:
        - Token: []
      parameters:
        - description: The maximum number of results to retrieve.
          example: '10'
          in: query
          name: limit
          required: false
          schema:
            default: 50
            type: number
        - description: The number of results to skip
          example: '0'
          in: query
          name: skip
          required: false
          schema:
            type: number
      responses:
        '200':
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/ApplicationList'
          description: Created
      tags:
        - Application
      description: >-
        Get all the active applications that are shared with your account. This
        request must be authenticated with the `token`.
      operationId: getApplicationShared
      summary: List Shared Applications
  '/application/{application}':
    get:
      security:
        - Token: []
      parameters:
        - description: The account id of an active application.
          example: 5245bc5b3e66a3b01f0024d4
          in: path
          name: application
          required: true
          schema:
            type: string
      responses:
        '200':
          content:
            application/json; charset=utf-8:
              schema:
                properties:
                  application:
                    $ref: '#/components/schemas/ApplicationModel'
                type: object
          description: Application
      tags:
        - Application
      description: >-
        Get an application object. This request must be authenticated with the
        `token`.
      operationId: getApplicationById
      summary: Get Application
    put:
      security:
        - Token: []
      parameters:
        - description: The account id of an active application.
          example: 5245bc5b3e66a3b01f0024d4
          in: path
          name: application
          required: true
          schema:
            type: string
      responses:
        '200':
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/ResponseMessage'
              example:
                message: application changes saved
          description: OK
      tags:
        - Application
      description: >-
        Modify an application. This request must be authenticated with the
        `token`.
      operationId: putApplicationById
      requestBody:
        content:
          application/json:
            schema:
              example:
                category: Business
                name: My Amazing App
                production: true
              properties:
                category:
                  type: string
                name:
                  type: string
                production:
                  type: boolean
              type: object
      summary: Update Application
    delete:
      security:
        - Token: []
      parameters:
        - description: The account id of an active application.
          example: 5245bc5b3e66a3b01f0024d4
          in: path
          name: application
          required: true
          schema:
            type: string
      responses:
        '200':
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/ResponseMessage'
              example:
                message: application deactivated
          description: Deactivated
      tags:
        - Application
      description: >-
        Destroy an application. This operation can not be undone. This request
        must be authenticated with the `token`.
      operationId: deleteApplicationById
      summary: Delete Application
  /asset:
    get:
      security:
        - MasterSecret: []
      parameters:
        - description: The (partial) content type of assets to list.
          example: 'image'
          in: query
          name: type
          required: false
          schema:
            type: string
        - description: The original filename of assets to list.
          example: 'test'
          in: query
          name: name
          required: false
          schema:
            type: string
        - description: The maximum number of results to retrieve.
          example: '10'
          in: query
          name: limit
          required: false
          schema:
            default: 100
            type: number
        - description: The number of results to skip
          example: '0'
          in: query
          name: skip
          required: false
          schema:
            type: number
      responses:
        '200':
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/AssetList'
          description: OK
      tags:
        - Asset
      description: >-
        Get all the assets for an application.

        This request is authenticated with the `applicationKey` and
        `masterSecret`.
      operationId: getAsset
      summary: List Assets
    post:
      security:
        - MasterSecret: []
      responses:
        '201':
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/ResponseKeyCreated'
              example:
                _id: 570bff9ff09c7c399e721897
                key: >-
                  3d99d18148e6f3dbcf4ff891c9a02ffb0311feccc7b9d0c8c79fee9dddde19/51b73467c0665add7abfd4bc47ebfdff843f77f58dcb12cdeb3d0c094f0e9835
          description: Created
      tags:
        - Asset
      description: >-
        Create an asset in a specific application. Uploads a file to Notificare.
        The resulting filename is the path of that file inside the notificare
        storage. This can be used as a reference to the file in further
        processing or deleting.

        The contents of the file should be in the body of the request and with
        the correct mime-type. So, e.g. an image should be of type `image/png`,
        `image/jpg` or `image/gif`, a pdf should be `application/pdf` and a
        video should be `video/mp4`.

        This request is authenticated with the `applicationKey` and
        `masterSecret`.
      operationId: postAsset
      requestBody:
        content:
          image/png:
            schema:
              type: string
              format: binary
          image/jpeg:
            schema:
              type: string
              format: binary
          image/gif:
            schema:
              type: string
              format: binary
          application/pdf:
            schema:
              type: string
              format: binary
          video/mp4:
            schema:
              type: string
              format: binary
      summary: Create Asset
  '/asset/{id}':
    get:
      security:
        - MasterSecret: []
      parameters:
        - description: The asset's id.
          example: 5245bc5b3e66a3b01fff24d4
          in: path
          name: id
          required: true
          schema:
            type: string
      responses:
        '200':
          content:
            application/json; charset=utf-8:
              schema:
                properties:
                  asset:
                    $ref: '#/components/schemas/AssetModel'
                type: object
          description: OK
      tags:
        - Asset
      description: >-
        Get the asset.

        This request is authenticated with the `applicationKey` and
        `masterSecret`.
      operationId: getAssetById
      summary: Get Asset
    put:
      security:
        - MasterSecret: []
      parameters:
        - description: The asset's id.
          example: 5245bc5b3e66a3b01fff24d4
          in: path
          name: id
          required: true
          schema:
            type: string
      responses:
        '200':
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/ResponseMessage'
              example:
                message: asset updated
          description: OK
      tags:
        - Asset
      description: >-
        Modify a specific asset.

        This request is authenticated with the `applicationKey` and
        `masterSecret`.
      operationId: putAssetById
      requestBody:
        content:
          image/png:
            schema:
              type: string
              format: binary
          image/jpeg:
            schema:
              type: string
              format: binary
          image/gif:
            schema:
              type: string
              format: binary
          application/pdf:
            schema:
              type: string
              format: binary
          video/mp4:
            schema:
              type: string
              format: binary
      summary: Update Asset
    delete:
      security:
        - MasterSecret: []
      parameters:
        - description: The asset's id.
          example: 5245bc5b3e66a3b01fff24d4
          in: path
          name: id
          required: true
          schema:
            type: string
      responses:
        '204':
          description: No Content
      tags:
        - Asset
      description: >-
        Delete an asset. This operation can not be undone.

        This request is authenticated with the `applicationKey` and
        `masterSecret`.
      operationId: deleteAssetById
      summary: Delete Asset
  '/asset/{id}/order':
    put:
      security:
        - MasterSecret: []
      parameters:
        - description: The asset's id.
          in: path
          name: id
          required: true
          schema:
            $ref: '#/components/schemas/ObjectId'
      responses:
        '200':
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/ResponseMessage'
              example:
                message: asset updated
          description: OK
      tags:
        - Asset
      description: >-
        Modify a specific asset.

        This request is authenticated with the `applicationKey` and
        `masterSecret`.
      operationId: putAssetOrder
      requestBody:
        $ref: '#/components/requestBodies/AssetOrder'
      summary: Update Asset Order
  /asset/group:
    get:
      security:
        - MasterSecret: []
      parameters:
        - description: The maximum number of results to retrieve.
          example: '10'
          in: query
          name: limit
          required: false
          schema:
            default: 100
            type: number
        - description: The number of results to skip
          example: '0'
          in: query
          name: skip
          required: false
          schema:
            type: number
      responses:
        '200':
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/AssetGroupList'
          description: OK
      tags:
        - Asset
      description: >-
        Get all the asset groups for an application.

        This request is authenticated with the `applicationKey` and
        `masterSecret`.
      operationId: getAssetGroup
      summary: List Asset Groups
    post:
      security:
        - MasterSecret: []
      responses:
        '201':
          content:
            application/json; charset=utf-8:
              schema:
                properties:
                  assetGroup:
                    $ref: '#/components/schemas/ResponseCreated'
          description: Created
      tags:
        - Asset
      description: >-
        Create an asset group in a specific application. This allows you to
        group assets in a group can then later be retrieved in your applications
        using the SDKs.

        This request is authenticated with the `applicationKey` and
        `masterSecret`.
      operationId: postAssetGroup
      requestBody:
        $ref: '#/components/requestBodies/AssetGroupCreate'
      summary: Create Asset Group
  '/asset/group/byname/{name}':
    get:
      security:
        - MasterSecret: []
      parameters:
        - description: The name of the asset group
          example: testing
          in: path
          name: name
          required: true
          schema:
            type: string
        - description: The maximum number of results to retrieve.
          example: '10'
          in: query
          name: limit
          required: false
          schema:
            default: 100
            type: number
        - description: The number of results to skip
          example: '0'
          in: query
          name: skip
          required: false
          schema:
            type: number
      responses:
        '200':
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/AssetGroupList'
          description: OK
      tags:
        - Asset
      description: >-
        Get all the asset groups for an application. Because asset groups can
        share the same name you might need to get all asset groups with the same
        name. Use this endpoint to retrieve assets with the same name.

        This request is authenticated with the `applicationKey` and
        `masterSecret`.
      operationId: getAssetGroupByName
      summary: List Asset Groups By Name
  '/asset/group/{id}':
    get:
      security:
        - MasterSecret: []
      parameters:
        - description: The asset group's id.
          example: 5245bc5b3e66a3b01f0024d4
          in: path
          name: id
          required: true
          schema:
            type: string
      responses:
        '200':
          content:
            application/json; charset=utf-8:
              schema:
                properties:
                  assetGroup:
                    $ref: '#/components/schemas/AssetGroupModel'
                type: object
          description: OK
      tags:
        - Asset
      description: >-
        Get a specific asset group.

        This request is authenticated with the `applicationKey` and
        `masterSecret`.
      operationId: getAssetGroupById
      summary: Get Asset Group
    put:
      security:
        - MasterSecret: []
      parameters:
        - description: The asset group's id.
          example: 5245bc5b3e66a3b01f0024d4
          in: path
          name: id
          required: true
          schema:
            type: string
      responses:
        '200':
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/ResponseMessage'
              example:
                message: asset group updated
          description: OK
      tags:
        - Asset
      description: >-
        Modify a specific asset group.

        This request is authenticated with the `applicationKey` and
        `masterSecret`.
      operationId: putAssetGroupById
      requestBody:
        $ref: '#/components/requestBodies/AssetGroupUpdate'
      summary: Update Asset Group
    delete:
      security:
        - MasterSecret: []
      parameters:
        - description: The asset group's id.
          example: 5245bc5b3e66a3b01fff24d4
          in: path
          name: id
          required: true
          schema:
            type: string
      responses:
        '200':
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/ResponseMessage'
              example:
                message: asset group removed
          description: OK
      tags:
        - Asset
      description: >-
        Delete an asset group. This operation cannot be undone.

        This request is authenticated with the `applicationKey` and
        `masterSecret`.
      operationId: deleteAssetGroupById
      summary: Delete Asset Group
  /beacon:
    post:
      security:
        - MasterSecret: []
      responses:
        '201':
          content:
            application/json; charset=utf-8:
              schema:
                properties:
                  beacon:
                    $ref: '#/components/schemas/ResponseCreated'
          description: Created
      tags:
        - Beacon
      description: >-
        Create a new beacon for a region. To complete this request you must
        create a triggered Notification first.

        This request is authenticated with the `applicationKey` and
        `masterSecret`.
      operationId: postBeacon
      requestBody:
        $ref: '#/components/requestBodies/BeaconCreate'
      summary: Create Beacon
  '/beacon/forregion/{region}':
    get:
      parameters:
        - description: The id of an active region.
          in: path
          name: region
          required: true
          schema:
            $ref: '#/components/schemas/ObjectId'
        - description: The maximum number of results to retrieve.
          example: '10'
          in: query
          name: limit
          required: false
          schema:
            default: 50
            type: number
        - description: The number of results to skip
          example: '0'
          in: query
          name: skip
          required: false
          schema:
            type: number
      responses:
        '200':
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/BeaconList'
          description: OK
      tags:
        - Beacon
      description: >-
        Get all beacons for a certain region.

        This request is authenticated with the `applicationKey` and
        `masterSecret`.
      operationId: getBeaconForRegion
      summary: List Beacons For Region
  '/beacon/{id}':
    get:
      parameters:
        - description: The beacon id of an active beacon.
          example: 5245bc5b3e66a3b01f0024d4
          in: path
          name: id
          required: true
          schema:
            type: string
      responses:
        '200':
          content:
            application/json; charset=utf-8:
              schema:
                properties:
                  beacon:
                    $ref: '#/components/schemas/BeaconModel'
                type: object
          description: OK
      tags:
        - Beacon
      description: >-
        Get a beacon object.

        This request is authenticated with the `applicationKey` and
        `masterSecret`.
      operationId: getBeaconById
      summary: Get Beacon
    put:
      security:
        - MasterSecret: []
      parameters:
        - description: The beacon id of an active beacon.
          example: 5245bc5b3e66a3b01f0024d4
          in: path
          name: id
          required: true
          schema:
            type: string
      responses:
        '200':
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/ResponseMessage'
              example:
                message: beacon updated
          description: OK
      tags:
        - Beacon
      description: >-
        Modify a beacon.

        This request is authenticated with the `applicationKey` and
        `masterSecret`.
      operationId: putBeaconById
      requestBody:
        $ref: '#/components/requestBodies/BeaconUpdate'
      summary: Update Beacon
    delete:
      security:
        - MasterSecret: []
      parameters:
        - description: The beacon id of an active beacon.
          example: 5245bc5b3e66a3b01f0024d4
          in: path
          name: id
          required: true
          schema:
            type: string
      responses:
        '200':
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/ResponseMessage'
              example:
                message: beacon deleted
          description: OK
      tags:
        - Beacon
      description: >-
        Delete a beacon. This operation cannot be undone.

        This request is authenticated with the `applicationKey` and
        `masterSecret`.
      operationId: deleteBeaconById
      summary: Delete Beacon
  /datasource:
    get:
      parameters:
        - description: The name of the datasource to search for.
          example: blog
          in: query
          name: search
          required: false
          schema:
            type: string
        - description: The maximum number of results to retrieve.
          example: 10
          in: query
          name: limit
          required: false
          schema:
            default: 25
            type: number
        - description: The number of results to skip
          example: '0'
          in: query
          name: skip
          required: false
          schema:
            type: number
      responses:
        '200':
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/DatasourceList'
          description: OK
      tags:
        - Automation
      description: >-
        Get all the datasources for an application.

        This request is authenticated with the `applicationKey` and
        `masterSecret`.
      operationId: getDatasource
      summary: List Datasources
    post:
      security:
        - MasterSecret: []
      responses:
        '200':
          content:
            application/json; charset=utf-8:
              example:
                datasource:
                  $ref: '#/components/schemas/ResponseCreated'
          description: OK
      tags:
        - Automation
      description: >-
        Create a datasource.

        This request is authenticated with the `applicationKey` and
        `masterSecret`.
      operationId: postDatasource
      requestBody:
        $ref: '#/components/requestBodies/DatasourceCreate'
      summary: Create Datasource
  /datasource/test:
    post:
      security:
        - MasterSecret: []
      responses:
        '200':
          content:
            application/json; charset=utf-8:
              schema:
                properties:
                  feed:
                    $ref: '#/components/schemas/DatasourceFeedModel'
                type: object
          description: OK
      tags:
        - Automation
      description: >-
        Test a datasource feed before actually creating it.

        This request is authenticated with the `applicationKey` and
        `masterSecret`.
      operationId: postDatasourceTest
      requestBody:
        $ref: '#/components/requestBodies/DatasourceTest'
      summary: Test New Datasource
  '/datasource/{id}':
    get:
      parameters:
        - description: The source's id.
          in: path
          name: id
          required: true
          schema:
            $ref: '#/components/schemas/ObjectId'
      responses:
        '200':
          content:
            application/json; charset=utf-8:
              schema:
                properties:
                  datasource:
                    $ref: '#/components/schemas/DatasourceModel'
          description: OK
      tags:
        - Automation
      description: >-
        Get a specific datasource.

        This request is authenticated with the `applicationKey` and
        `masterSecret`.
      operationId: getDatasourceById
      summary: Get Datasource
    put:
      security:
        - MasterSecret: []
      parameters:
        - description: The source's id.
          in: path
          name: id
          required: true
          schema:
            $ref: '#/components/schemas/ObjectId'
      responses:
        '200':
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/ResponseMessage'
              example:
                message: datasource updated
          description: OK
          headers: {}
      tags:
        - Automation
      description: >-
        Modify a datasource.

        This request is authenticated with the `applicationKey` and
        `masterSecret`.
      operationId: putDatasourceById
      requestBody:
        $ref: '#/components/requestBodies/DatasourceUpdate'
      summary: Update Datasource
    delete:
      security:
        - MasterSecret: []
      parameters:
        - description: The source's id.
          example: 5245bc5b3e66a3b01f0024d4
          in: path
          name: id
          required: true
          schema:
            type: string
      responses:
        '200':
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/ResponseMessage'
              example:
                message: datasource deleted
          description: OK
      tags:
        - Automation
      description: >-
        Delete a datasource. This operation cannot be undone.

        This request is authenticated with the `applicationKey` and
        `masterSecret`.
      operationId: deleteDatasourceById
      summary: Delete Datasource
  '/datasource/{id}/test':
    put:
      security:
        - MasterSecret: []
      parameters:
        - description: The source's id.
          in: path
          name: id
          required: true
          schema:
            $ref: '#/components/schemas/ObjectId'
      responses:
        '200':
          content:
            application/json; charset=utf-8:
              schema:
                properties:
                  feed:
                    $ref: '#/components/schemas/DatasourceFeedModel'
                type: object
          description: OK
      tags:
        - Automation
      description: >-
        Test a datasource feed that is already created.

        This request is authenticated with the `applicationKey` and
        `masterSecret`.
      operationId: putDatasourceTest
      summary: Test Existing Datasource
  /device:
    get:
      parameters:
        - description: The maximum number of results to retrieve.
          example: '10'
          in: query
          name: limit
          required: false
          schema:
            default: 100
            type: number
        - description: The number of results to skip.
          example: '0'
          in: query
          name: skip
          required: false
          schema:
            type: number
        - description: The channel you wish to filter results for.
          example: push
          in: query
          name: medium
          required: false
          schema:
            default: push
            type: string
      responses:
        '200':
          content:
            application/json; charset=utf-8:
              example:
                count: 2
                devices:
                  - tags: []
                    _id: 5245bc5b3e66a3b01f0024d4
                    active: true
                    appVersion: '1.0'
                    application: 52458981394c07916000492c
                    deviceID: 00a9b9bf-c099-45aa-9278-64d6a3f22476
                    deviceString: MacIntel
                    language: en
                    lastActive: '2014-03-11T16:20:55.084Z'
                    location:
                      coordinates:
                        - 4.2345
                        - 5.6789
                      type: Point
                    medium: push
                    osString: Mac OS X 10.9.2
                    osVersion: 10.9.2
                    platform: Mac OS X
                    sdkVersion: 0.0.1
                    timeZoneOffset: -5
                    transport: Websocket
                    userID: info@notifica.re
                  - tags: []
                    _id: 5245bc5b3e66a3b01f0024d4
                    active: true
                    appVersion: '1.0'
                    application: 52458981394c07916000492c
                    deviceID: 00a9b9bf-c099-45aa-9278-64d6a3f22476
                    deviceString: MacIntel
                    language: en
                    last_active: '2014-03-11T16:20:55.084Z'
                    location:
                      coordinates:
                        - 4.2345
                        - 5.6789
                      type: Point
                    medium: push
                    osString: Mac OS X 10.9.2
                    osVersion: 10.9.2
                    platform: Mac OS X
                    sdkVersion: 0.0.1
                    timeZoneOffset: -5
                    transport: Websocket
                    userID: info@notifica.re
          description: OK
      tags:
        - Device
      description: >-
        Get all the devices for a specific application. If skip and limit are
        not used, there is a default size of 100 devices. Please note that there
        is a max. size of 1000 devices per page. When the medium property is
        used we will filter the results by the type of channel your devices were
        registered for.

        This request is authenticated with the `applicationKey` and
        `masterSecret`.
      operationId: getDevice
      summary: List Devices
  /device/bygeometry:
    post:
      security:
        - MasterSecret: []
      parameters:
        - description: The maximum number of results to retrieve.
          example: '10'
          in: query
          name: limit
          required: false
          schema:
            default: 100
            type: number
        - description: The number of results to skip
          example: '0'
          in: query
          name: skip
          required: false
          schema:
            type: number
      responses:
        '200':
          content:
            application/json; charset=utf-8:
              example:
                count: 2
                devices:
                  - tags:
                      - toys
                    _id: 5245bc5b3e66a3b01f0024d4
                    active: true
                    appVersion: '1.0'
                    application: 52458981394c07916000492c
                    deviceID: 00a9b9bf-c099-45aa-9278-64d6a3f22476
                    deviceString: MacIntel
                    language: en
                    lastActive: '2014-03-11T16:20:55.084Z'
                    location:
                      coordinates:
                        - 4.2345
                        - 5.6789
                      type: Point
                    medium: push
                    osString: Mac OS X 10.9.2
                    osVersion: 10.9.2
                    platform: Mac OS X
                    sdkVersion: 0.0.1
                    timeZoneOffset: -5
                    transport: Websocket
                    userID: info@notifica.re
                  - tags:
                      - toys
                    _id: 5245bc5b3e66a3b01f0024d4
                    active: true
                    appVersion: '1.0'
                    application: 52458981394c07916000492c
                    deviceID: 00a9b9bf-c099-45aa-9278-64d6a3f22476
                    deviceString: MacIntel
                    language: en
                    lastActive: '2014-03-11T16:20:55.084Z'
                    location:
                      coordinates: []
                      type: Point
                    medium: push
                    osString: Mac OS X 10.9.2
                    osVersion: 10.9.2
                    platform: Mac OS X
                    sdkVersion: 0.0.1
                    timeZoneOffset: -5
                    transport: Websocket
                    userID: info@notifica.re
          description: OK
      tags:
        - Device
      description: >-
        Get all the devices in a specific geometric shape. If skip and limit are
        not used, there is a default size of 100 devices. Please note that there
        is a max. size of 1000 devices per page.

        This request is authenticated with the `applicationKey` and
        `masterSecret`.
      operationId: postDeviceByGeometry
      requestBody:
        content:
          application/json:
            schema:
              properties:
                geometry:
                  $ref: '#/components/schemas/Polygon'
                  description: >-
                    A simple polygon geoJSON object used to query the devices'
                    location
              required:
                - geometry
              type: object
      summary: List Devices For Polygon
  '/device/bylocation/{lat1}/{long1}/{lat2}/{long2}':
    get:
      parameters:
        - description: The desired south-east latitude
          example: '4.2345'
          in: path
          name: lat1
          required: true
          schema:
            type: number
        - description: The desired south-east longitude
          example: '5.6789'
          in: path
          name: long1
          required: true
          schema:
            type: number
        - description: The desired north-west latitude
          example: '4.2345'
          in: path
          name: lat2
          required: true
          schema:
            type: number
        - description: The desired north-west longitude
          example: '5.6789'
          in: path
          name: long2
          required: true
          schema:
            type: number
        - description: The maximum number of results to retrieve.
          example: '10'
          in: query
          name: limit
          required: false
          schema:
            default: 100
            type: number
        - description: The number of results to skip
          example: '0'
          in: query
          name: skip
          required: false
          schema:
            type: number
      responses:
        '200':
          content:
            application/json; charset=utf-8:
              example:
                count: 2
                devices:
                  - tags:
                      - toys
                    _id: 5245bc5b3e66a3b01f0024d4
                    active: true
                    appVersion: '1.0'
                    application: 52458981394c07916000492c
                    deviceID: 00a9b9bf-c099-45aa-9278-64d6a3f22476
                    deviceString: MacIntel
                    language: en
                    lastActive: '2014-03-11T16:20:55.084Z'
                    location:
                      coordinates:
                        - 4.2345
                        - 5.6789
                      type: Point
                    medium: push
                    osString: Mac OS X 10.9.2
                    osVersion: 10.9.2
                    platform: Mac OS X
                    sdkVersion: 0.0.1
                    timeZoneOffset: -5
                    transport: Websocket
                    userID: info@notifica.re
                  - tags:
                      - toys
                    _id: 5245bc5b3e66a3b01f0024d4
                    active: true
                    appVersion: '1.0'
                    application: 52458981394c07916000492c
                    deviceID: 00a9b9bf-c099-45aa-9278-64d6a3f22476
                    deviceString: MacIntel
                    language: en
                    lastActive: '2014-03-11T16:20:55.084Z'
                    location:
                      coordinates: []
                      type: Point
                    medium: push
                    osString: Mac OS X 10.9.2
                    osVersion: 10.9.2
                    platform: Mac OS X
                    sdkVersion: 0.0.1
                    timeZoneOffset: -5
                    transport: Websocket
                    userID: info@notifica.re
          description: OK
      tags:
        - Device
      description: >-
        Get all the devices withing a specific bounds. Bounds form a rectangle
        from the points at its south-west and north-east corners. If skip and
        limit are not used, there is a default size of 100 devices. Please note
        that there is a max. size of 1000 devices per page.

        This request is authenticated with the `applicationKey` and
        `masterSecret`.
      operationId: getDeviceForBounds
      summary: List Devices For Bounds
  '/device/bylocation/{latitude}/{longitude}/{distance}':
    get:
      parameters:
        - description: The desired latitude
          example: '4.2345'
          in: path
          name: latitude
          required: true
          schema:
            type: number
        - description: The desired longitude
          example: '5.6789'
          in: path
          name: longitude
          required: true
          schema:
            type: number
        - description: >-
            The distance in kilometers of your search area relative to the
            latitude and longitude
          example: '1.5'
          in: path
          name: distance
          required: true
          schema:
            type: number
        - description: The maximum number of results to retrieve.
          example: '10'
          in: query
          name: limit
          required: false
          schema:
            default: 100
            type: number
        - description: The number of results to skip
          example: '0'
          in: query
          name: skip
          required: false
          schema:
            type: number
      responses:
        '200':
          content:
            application/json; charset=utf-8:
              example:
                count: 2
                devices:
                  - tags:
                      - toys
                    _id: 5245bc5b3e66a3b01f0024d4
                    active: true
                    appVersion: '1.0'
                    application: 52458981394c07916000492c
                    deviceID: 00a9b9bf-c099-45aa-9278-64d6a3f22476
                    deviceString: MacIntel
                    language: en
                    lastActive: '2014-03-11T16:20:55.084Z'
                    location:
                      coordinates:
                        - 4.2345
                        - 5.6789
                      type: Point
                    medium: push
                    osString: Mac OS X 10.9.2
                    osVersion: 10.9.2
                    platform: Mac OS X
                    sdkVersion: 0.0.1
                    timeZoneOffset: -5
                    transport: Websocket
                    userID: info@notifica.re
                  - tags:
                      - toys
                    _id: 5245bc5b3e66a3b01f0024d4
                    active: true
                    appVersion: '1.0'
                    application: 52458981394c07916000492c
                    deviceID: 00a9b9bf-c099-45aa-9278-64d6a3f22476
                    deviceString: MacIntel
                    language: en
                    lastActive: '2014-03-11T16:20:55.084Z'
                    location:
                      coordinates: []
                      type: Point
                    medium: push
                    osString: Mac OS X 10.9.2
                    osVersion: 10.9.2
                    platform: Mac OS X
                    sdkVersion: 0.0.1
                    timeZoneOffset: -5
                    transport: Websocket
                    userID: info@notifica.re
          description: OK
      tags:
        - Device
      description: >-
        Get all the devices in a specific location. If skip and limit are not
        used, there is a default size of 100 devices. Please note that there is
        a max. size of 1000 devices per page.

        This request is authenticated with the `applicationKey` and
        `masterSecret`.
      operationId: getDeviceByLocation
      summary: List Devices By Location
  '/device/forregion/{region}':
    get:
      parameters:
        - description: The id of the region
          example: 5245bc5b3e66a3b01f0024d4
          in: path
          name: region
          required: true
          schema:
            type: string
        - description: The maximum number of results to retrieve.
          example: '10'
          in: query
          name: limit
          required: false
          schema:
            default: 100
            type: number
        - description: The number of results to skip
          example: '0'
          in: query
          name: skip
          required: false
          schema:
            type: number
      responses:
        '200':
          content:
            application/json; charset=utf-8:
              example:
                count: 2
                devices:
                  - tags:
                      - toys
                    _id: 5245bc5b3e66a3b01f0024d4
                    active: true
                    appVersion: '1.0'
                    application: 52458981394c07916000492c
                    deviceID: 00a9b9bf-c099-45aa-9278-64d6a3f22476
                    deviceString: MacIntel
                    language: en
                    lastActive: '2014-03-11T16:20:55.084Z'
                    location:
                      coordinates:
                        - 4.2345
                        - 5.6789
                      type: Point
                    medium: push
                    osString: Mac OS X 10.9.2
                    osVersion: 10.9.2
                    platform: Mac OS X
                    sdkVersion: 0.0.1
                    timeZoneOffset: -5
                    transport: Websocket
                    userID: info@notifica.re
                  - tags:
                      - toys
                    _id: 5245bc5b3e66a3b01f0024d4
                    active: true
                    appVersion: '1.0'
                    application: 52458981394c07916000492c
                    deviceID: 00a9b9bf-c099-45aa-9278-64d6a3f22476
                    deviceString: MacIntel
                    language: en
                    lastActive: '2014-03-11T16:20:55.084Z'
                    location:
                      coordinates: []
                      type: Point
                    medium: push
                    osString: Mac OS X 10.9.2
                    osVersion: 10.9.2
                    platform: Mac OS X
                    sdkVersion: 0.0.1
                    timeZoneOffset: -5
                    transport: Websocket
                    userID: info@notifica.re
          description: OK
      tags:
        - Device
      description: >-
        Get all the devices in a specific region. If skip and limit are not
        used, there is a default size of 100 devices. Please note that there is
        a max. size of 1000 devices per page.

        This request is authenticated with the `applicationKey` and
        `masterSecret`.
      operationId: getDeviceForRegion
      summary: List Devices For Region
  '/device/forsubscription/{subscription}':
    get:
      parameters:
        - description: The subscription Id the device is associated with
          example: 00a9b9bf-c099-45aa-9278-64d6a3f22476
          in: path
          name: subscription
          required: true
          schema:
            type: string
        - description: >-
            The medium for the device. Possible values are `push`, `email` or
            `sms`
          example: push
          in: query
          name: medium
          required: true
          schema:
            type: string
        - description: The maximum number of results to retrieve.
          example: '10'
          in: query
          name: limit
          required: false
          schema:
            default: 100
            type: number
        - description: The number of results to skip
          example: '0'
          in: query
          name: skip
          required: false
          schema:
            type: number
      responses:
        '200':
          content:
            application/json; charset=utf-8:
              example:
                count: 2
                devices:
                  - tags: []
                    _id: 5245bc5b3e66a3b01f0024d4
                    active: true
                    appVersion: '1.0'
                    application: 52458981394c07916000492c
                    deviceID: 00a9b9bf-c099-45aa-9278-64d6a3f22476
                    deviceString: MacIntel
                    language: en
                    lastActive: '2014-03-11T16:20:55.084Z'
                    location:
                      coordinates:
                        - 4.2345
                        - 5.6789
                      type: Point
                    medium: push
                    osString: Mac OS X 10.9.2
                    osVersion: 10.9.2
                    platform: Mac OS X
                    sdkVersion: 0.0.1
                    timeZoneOffset: -5
                    transport: Websocket
                    userID: info@notifica.re
          description: OK
      tags:
        - Device
      description: >-
        Get a device by its specific subscription Id. The subscription Id is
        generated automatically for each device created.

        This request is authenticated with the `applicationKey` and
        `masterSecret`.
      operationId: getDeviceForSubscription
      summary: Get Device For Subscription
  '/device/fortag/{tag}':
    get:
      parameters:
        - description: The tag the device is associated with
          example: toys
          in: path
          name: tag
          required: true
          schema:
            type: string
        - description: The maximum number of results to retrieve.
          example: '10'
          in: query
          name: limit
          required: false
          schema:
            default: 100
            type: number
        - description: The number of results to skip
          example: '0'
          in: query
          name: skip
          required: false
          schema:
            type: number
      responses:
        '200':
          content:
            application/json; charset=utf-8:
              example:
                count: 2
                devices:
                  - tags: []
                    _id: 5245bc5b3e66a3b01f0024d4
                    active: true
                    appVersion: '1.0'
                    application: 52458981394c07916000492c
                    deviceID: 00a9b9bf-c099-45aa-9278-64d6a3f22476
                    deviceString: MacIntel
                    language: en
                    lastActive: '2014-03-11T16:20:55.084Z'
                    location:
                      coordinates:
                        - 4.2345
                        - 5.6789
                      type: Point
                    medium: push
                    osString: Mac OS X 10.9.2
                    osVersion: 10.9.2
                    platform: Mac OS X
                    sdkVersion: 0.0.1
                    timeZoneOffset: -5
                    transport: Websocket
                    userID: info@notifica.re
                  - tags: []
                    _id: 5245bc5b3e66a3b01f0024d4
                    active: true
                    appVersion: '1.0'
                    application: 52458981394c07916000492c
                    deviceID: 00a9b9bf-c099-45aa-9278-64d6a3f22476
                    deviceString: MacIntel
                    language: en
                    lastActive: '2014-03-11T16:20:55.084Z'
                    location:
                      coordinates:
                        - 4.2345
                        - 5.6789
                      type: Point
                    medium: push
                    osString: Mac OS X 10.9.2
                    osVersion: 10.9.2
                    platform: Mac OS X
                    sdkVersion: 0.0.1
                    timeZoneOffset: -5
                    transport: Websocket
                    userID: info@notifica.re
          description: OK
      tags:
        - Device
      description: >-
        Get all the devices for a specific tag. If skip and limit are not used,
        there is a default size of 100 devices. Please note that there is a max.
        size of 1000 devices per page.

        This request is authenticated with the `applicationKey` and
        `masterSecret`.
      operationId: getDeviceForTag
      summary: List Devices For Tag
  '/device/foruser/{userID}':
    get:
      parameters:
        - description: >-
            The user ID is the one the client device registered with, e.g., the
            user's email address.
          example: testuser@example.com
          in: path
          name: userID
          required: true
          schema:
            type: string
        - description: The maximum number of results to retrieve.
          example: '10'
          in: query
          name: limit
          required: false
          schema:
            default: 100
            type: number
        - description: The number of results to skip
          example: '0'
          in: query
          name: skip
          required: false
          schema:
            type: number
      responses:
        '200':
          content:
            application/json; charset=utf-8:
              example:
                count: 2
                devices:
                  - tags: []
                    _id: 5245bc5b3e66a3b01f0024d4
                    active: true
                    appVersion: '1.0'
                    application: 52458981394c07916000492c
                    deviceID: 00a9b9bf-c099-45aa-9278-64d6a3f22476
                    deviceString: MacIntel
                    language: en
                    lastActive: '2014-03-11T16:20:55.084Z'
                    location:
                      coordinates:
                        - 4.2345
                        - 5.6789
                      type: Point
                    medium: push
                    osString: Mac OS X 10.9.2
                    osVersion: 10.9.2
                    platform: Mac OS X
                    sdkVersion: 0.0.1
                    timeZoneOffset: -5
                    transport: Websocket
                    userID: info@notifica.re
                  - tags: []
                    _id: 5245bc5b3e66a3b01f0024d4
                    active: true
                    appVersion: '1.0'
                    application: 52458981394c07916000492c
                    deviceID: 00a9b9bf-c099-45aa-9278-64d6a3f22476
                    deviceString: MacIntel
                    language: en
                    lastActive: '2014-03-11T16:20:55.084Z'
                    location:
                      coordinates:
                        - 4.2345
                        - 5.6789
                      type: Point
                    medium: push
                    osString: Mac OS X 10.9.2
                    osVersion: 10.9.2
                    platform: Mac OS X
                    sdkVersion: 0.0.1
                    timeZoneOffset: -5
                    transport: Websocket
                    userID: info@notifica.re
          description: OK
      tags:
        - Device
      description: >-
        Get all the devices for a specific user. If skip and limit are not used,
        there is a default size of 100 devices. Please note that there is a max.
        size of 1000 devices per page.

        This request is authenticated with the `applicationKey` and
        `masterSecret`.
      operationId: getDeviceForUser
      summary: List Devices For User
  /device/tags:
    get:
      parameters:
        - description: The maximum number of results to retrieve.
          example: '10'
          in: query
          name: limit
          required: false
          schema:
            default: 100
            type: number
        - description: The number of results to skip
          example: '0'
          in: query
          name: skip
          required: false
          schema:
            type: number
      responses:
        '200':
          content:
            application/json; charset=utf-8:
              example:
                tags:
                  - deviceCount: 2
                    tag: toys
                  - deviceCount: 5
                    tag: kitchen
                count: 2
          description: OK
      tags:
        - Tag
      description: >-
        Get the list of all tags for this application. If skip and limit are not
        used, there is a default size of 100 devices. Please note that there is
        a max. size of 1000 devices per page.

        This request is authenticated with the `applicationKey` and
        `masterSecret`.
      operationId: getDeviceTags
      summary: List Tags
  '/device/tags/{tag}':
    get:
      parameters:
        - description: The string to search for
          example: toys
          in: path
          name: tag
          required: true
          schema:
            type: string
      responses:
        '200':
          content:
            application/json; charset=utf-8:
              example:
                tags:
                  - deviceCount: 2
                    tag: toys
                  - deviceCount: 5
                    tag: kitchen
                count: 2
          description: OK
      tags:
        - Tag
      description: >-
        Get all the tags that match match partially or totally a specific query.

        This request is authenticated with the `applicationKey` and
        `masterSecret`.
      operationId: getDeviceTagsForTag
      summary: Search Tags
  '/device/{deviceID}':
    get:
      parameters:
        - description: The deviceID is the unique identifier provided by APNS or GCM.
          example: 00a9b9bf-xxx9278-64d6a3f22476
          in: path
          name: deviceID
          required: true
          schema:
            type: string
        - description: A property that defines if inactive devices should also be found.
          example: any
          in: query
          name: active
          required: false
          schema:
            type: string
      responses:
        '200':
          content:
            application/json; charset=utf-8:
              example:
                device:
                  tags: []
                  _id: 5245bc5b3e66a3b01f0024d4
                  active: true
                  appVersion: '1.0'
                  application: 52458981394c07916000492c
                  deviceID: 00a9b9bf-c099-45aa-9278-64d6a3f22476
                  deviceString: MacIntel
                  language: en
                  lastActive: '2014-03-11T16:20:55.084Z'
                  location:
                    coordinates:
                      - 4.2345
                      - 5.6789
                    type: Point
                  medium: push
                  osString: Mac OS X 10.9.2
                  osVersion: 10.9.2
                  platform: Mac OS X
                  sdkVersion: 0.0.1
                  timeZoneOffset: -5
                  transport: Websocket
                  userID: info@notifica.re
          description: OK
      tags:
        - Device
      description: >-
        Get a specific device based on the deviceID.

        This request is authenticated with the `applicationKey` and
        `masterSecret`.
      operationId: getDeviceById
      summary: Get Device
  '/device/{deviceID}/user':
    put:
      security:
        - MasterSecret: []
      parameters:
        - description: The deviceID is the unique identifier provided by APNS or GCM.
          example: 00a9b9bf-xxx9278-64d6a3f22476
          in: path
          name: deviceID
          required: true
          schema:
            type: string
      responses:
        '200':
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/ResponseMessage'
              example:
                message: device updated
          description: OK
      tags:
        - Device
      description: >-
        Register a userID and userName to a device. For this endpoint to work,
        you need to set the User Registration to API Level. This can be done
        from the Settings > Configure App > User Registration or (if you have
        the Users & Authentication add-on) from the Users & Authentication
        add-on service page. This will prevent you apps from registering users
        with only the app keys and instead you can take care of this at the
        server side. Use this method to add a userID and userName to a device.

        This request is authenticated with the `applicationKey` and
        `masterSecret`.
      operationId: putDeviceUser
      requestBody:
        content:
          application/json:
            schema:
              example:
                userID: '12345678'
                userName: John Doe
              properties:
                userID:
                  type: string
                userName:
                  type: string
              type: object
      summary: Register User To Device
    delete:
      security:
        - MasterSecret: []
      parameters:
        - description: The deviceID is the unique identifier provided by APNS or GCM.
          example: 00a9b9bf-xxx9278-64d6a3f22476
          in: path
          name: deviceID
          required: true
          schema:
            type: string
      responses:
        '200':
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/ResponseMessage'
              example:
                message: device updated
          description: OK
          headers: {}
      tags:
        - Device
      description: >-
        Unregister a userID and userName from a device. For this endpoint to
        work, you need to set the User Registration to API Level. This can be
        done from the Settings > Configure App > User Registration or (if you
        have the Users & Authentication add-on) from the Users & Authentication
        add-on service page. This will prevent you apps from registering users
        with only the app keys and instead you can take care of this at the
        server side. Use this method to remove a userID and userName from a
        device.

        This request is authenticated with the `applicationKey` and
        `masterSecret`.
      operationId: deleteDeviceUser
      summary: Unregister User From Device
  /email:
    post:
      security:
        - MasterSecret: []
      responses:
        '200':
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/ResponseMessage'
              example:
                message: subscription updated
          description: OK
        '202':
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/ResponseMessage'
              example:
                message: subscription is being processed
          description: Accepted
      tags:
        - Email
      description: >-
        Create an email contact for your application.

        This request is authenticated with the `applicationKey` and
        `masterSecret`.
      operationId: postEmail
      requestBody:
        content:
          application/json:
            schema:
              properties:
                tags:
                  description: A list of tags you wish to assign to the email address.
                  items:
                    type: string
                  type: array
                  example: ['tag1']
                email:
                  description: The email address you wish to subscribe to your app.
                  type: string
                  format: email
                language:
                  description: The language you wish to assign the contact to.
                  type: string
                  example: 'nl'
                region:
                  description: The region you wish to assign the contact to.
                  type: string
                  example: 'NL'
                userID:
                  description: The userID your wish to assign the contact to.
                  type: string
                  example: '173661892772'
                userName:
                  description: The userName your wish to assign the contact to.
                  type: string
                  example: Test User
                verify:
                  description: >-
                    If you wish to require verification before activating the
                    email contact set this property to `true`.
                  type: boolean
              required:
                - email
              type: object
      summary: Create Email Contact
  '/event/custom/{type}/{userID}':
    post:
      security:
        - MasterSecret: []
      parameters:
        - description: >-
            The type of custom event. This event type is automatically prepended
            with `re.notifica.event.custom.` namespace to prevent collisions.
          example: MyCustomEvent
          in: path
          name: type
          required: true
          schema:
            type: string
        - description: >-
            The user this event is triggered for. All automations and
            notification will apply to all of the devices of this user.
          example: test@example.com
          in: path
          name: userID
          required: true
          schema:
            type: string
      responses:
        '202':
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/ResponseMessage'
              example:
                message: event is being processed
          description: Accepted
      tags:
        - Event
      description: >-
        Generate Custom Event for a specific User. Data sent in the payload can
        be accessed as placeholder data in automated notifications. In the
        example below, a placeholder `{{test}}` in an automated notification
        would be replaced by `a test value`.

        This request is authenticated with the `applicationKey` and
        `masterSecret`.
      operationId: postEventCustomForUser
      requestBody:
        content:
          application/json:
            schema:
              properties:
                data:
                  additionalProperties:
                    type: string
                  example:
                    key1: value1
                    key2: value2
                  type: object
              type: object
      summary: Create Custom Event
  '/event/fortype/{type}':
    get:
      parameters:
        - description: The type of event.
          example: re.notifica.event.application.Install
          in: path
          name: type
          required: true
          schema:
            type: string
        - description: The maximum number of results to retrieve.
          example: '10'
          in: query
          name: limit
          required: false
          schema:
            default: 100
            type: number
        - description: The number of results to skip
          example: '0'
          in: query
          name: skip
          required: false
          schema:
            type: number
        - description: When provided will only retrieve events after this date
          example: '2014-10-03'
          in: query
          name: since
          required: false
          schema:
            type: string
        - description: >-
            When provided will only retrieve events before this date (only
            available when a since date is provided)
          example: '2014-10-04'
          in: query
          name: before
          required: false
          schema:
            type: string
        - description: >-
            When provided will only retrieve events for the userID. Requires
            since and before to be set as well.
          example: user@example.com
          in: query
          name: userID
          required: false
          schema:
            type: string
        - description: >-
            When provided will only retrieve events for the deviceID. Requires
            since and before to be set as well.
          example: bbff2ce9b547d2df4731bac277xxx
          in: query
          name: deviceID
          required: false
          schema:
            type: string
        - description: >-
            The region's id of an event of type re.notifica.event.region.Session
            or re.notifica.event.beacon.Session
          in: query
          name: region
          required: false
          schema:
            $ref: '#/components/schemas/ObjectId'
        - description: >-
            The beacon's fence region id of an event of type
            re.notifica.event.beacon.Session
          in: query
          name: fence
          required: false
          schema:
            $ref: '#/components/schemas/ObjectId'
        - description: >-
            The pass id of an event of type re.notifica.event.pass.Add,
            re.notifica.event.pass.Remove or re.notifica.event.pass.Redeem
          in: query
          name: pass
          required: false
          schema:
            $ref: '#/components/schemas/ObjectId'
        - description: >-
            The pass serial of an event of type re.notifica.event.pass.Add,
            re.notifica.event.pass.Remove or re.notifica.event.pass.Redeem
          in: query
          name: serial
          required: false
          schema:
            type: string
            format: uuid
        - description: >-
            The asset group's id of an event of type
            re.notifica.event.asset.Load
          in: query
          name: group
          required: false
          schema:
            $ref: '#/components/schemas/ObjectId'
        - description: >-
            The scannable's id of an event of type
            re.notifica.event.scannable.Scan
          in: query
          name: scannable
          required: false
          schema:
            $ref: '#/components/schemas/ObjectId'
        - description: >-
            The notification's id of an event of type
            re.notifica.event.notification.Sent,
            re.notifica.event.notification.Receive,
            re.notifica.event.notification.Open or
            re.notifica.event.notification.Influenced
          in: query
          name: notification
          required: false
          schema:
            $ref: '#/components/schemas/ObjectId'
      responses:
        '200':
          content:
            application/json; charset=utf-8:
              example:
                events:
                  - _id: 542f153401d51284b
                    application: 5354f3545a544452ff4c7c0
                    sessionID: 5SX4tAsd534MjuHL
                    time: '2014-10-03T21:43:04.231Z'
                    type: re.notifica.event.application.Install
                    userID: null
                  - _id: 542f153401d51284b
                    application: 5354f3545a544452ff4c7c0
                    sessionID: 5SX4tAsd534MjuHL
                    time: '2014-10-03T21:43:04.231Z'
                    type: re.notifica.event.application.Install
                    userID: null
                count: 2
          description: OK
      tags:
        - Event
      description: >-
        Get all the events for a type for a specific application.

        This request is authenticated with the `applicationKey` and
        `masterSecret`.
      operationId: getEventForType
      summary: List Events For Type
  '/event/{id}':
    get:
      parameters:
        - description: The event's Id.
          in: path
          name: id
          required: true
          schema:
            $ref: '#/components/schemas/ObjectId'
      responses:
        '200':
          content:
            application/json; charset=utf-8:
              example:
                event:
                  _id: 542f153401d51284b
                  application: 5354f3545a544452ff4c7c0
                  sessionID: 5SX4tAsd534MjuHL
                  time: '2014-10-03T21:43:04.231Z'
                  type: re.notifica.event.application.Install
                  userID: null
          description: OK
      tags:
        - Event
      description: >-
        Get a specific event object.

        This request is authenticated with the `applicationKey` and
        `masterSecret`.
      operationId: getEventById
      summary: Get Event
  /export:
    get:
      responses:
        '200':
          content:
            application/json; charset=utf-8:
              example:
                exportJobs:
                  - _id: 54fec699beb5cb2f6f9839ed
                    application: 5354f08474adc4183214c143
                    data: null
                    date: '2015-03-10T10:25:29.340Z'
                    result: >-
                      created export file export-user-1425983129369.csv (919
                      bytes)
                    status: success
                    type: re.notifica.export.User
          description: OK
      tags:
        - Export
      description: >-
        Get all export jobs for an application.

        This request is authenticated with the `applicationKey` and
        `masterSecret`.
      operationId: getExport
      summary: List Export Jobs
  '/export/fortype/{type}':
    get:
      parameters:
        - description: The export type
          example: re.notifica.export.User
          in: path
          name: type
          required: true
          schema:
            type: string
      responses:
        '200':
          content:
            application/json; charset=utf-8:
              example:
                exportJobs:
                  - _id: 54fec699beb5cb2f6f9839ed
                    application: 5354f08474adc4183214c143
                    data:
                      all: true
                      before: '2017-01-13'
                      campaign: 5354f08474adc4183214c143
                      fence: 5354f08474adc4183214c143
                      includeTags: true
                      notification: 5354f08474adc4183214c143
                      region: 5354f08474adc4183214c143
                      serial: 5354f08474adc4183214c143
                      showCombinedSegments: true
                      showPreferences: true
                      showSegments:
                        - 5354f08474adc4183214c143
                      since: '2017-01-12'
                      tagsSeparator: '|'
                      type: re.notifica.event.application.Open
                      useSegmentNames: true
                      userID: 5354f08474adc4183214c143
                    date: '2015-03-10T10:25:29.340Z'
                    result: >-
                      created export file export-user-1425983129369.csv (919
                      bytes)
                    status: success
                    type: re.notifica.export.User
          description: OK
      tags:
        - Export
      description: >-
        Get all export jobs of a specific type.

        This request is authenticated with the `applicationKey` and
        `masterSecret`.
      operationId: getExportForType
      summary: List Exports For Type
  /export/re.notifica.export.Device:
    post:
      security:
        - MasterSecret: []
      responses:
        '201':
          content:
            application/json; charset=utf-8:
              schema:
                properties:
                  exportJob:
                    $ref: '#/components/schemas/ResponseCreated'
          description: Created
      tags:
        - Export
      description: >-
        Export devices, contacts or numbers for an application. This job might
        take some time to finish, check the export result endpoint to obtain
        information about the status of this export job.

        This request is authenticated with the `applicationKey` and
        `masterSecret`.
      operationId: postExportDevice
      requestBody:
        content:
          application/json:
            schema:
              properties:
                data:
                  properties:
                    all:
                      description: >-
                        Specify if export job should include all devices, including
                        inactive ones
                      type: boolean
                    criteria:
                      $ref: '#/components/schemas/Criteria'
                      description: >-
                        Optionally you can include a criteria object to filter the
                        export results
                    includeTags:
                      description: Specify if export job should include all device tags
                      type: boolean
                    medium:
                      description: >-
                        Specify if export job results should include a specific type
                        fo medium (available values are: all, push, email, sms)
                      type: string
                      enum: [all, push, email, sms]
                    tagsSeparator:
                      description: >-
                        Specify if export jobs should use a different separator for
                        the tags. By default we will use |
                      type: string
                      default: '|'
                  type: object
              required:
                - data
              type: object
      summary: Export Devices/Contacts/Numbers
  /export/re.notifica.export.User:
    post:
      security:
        - MasterSecret: []
      responses:
        '201':
          content:
            application/json; charset=utf-8:
              schema:
                properties:
                  exportJob:
                    $ref: '#/components/schemas/ResponseCreated'
          description: Created
      tags:
        - Export
      description: >-
        Export all users for an application. This job might take some time to
        finish, check the export result endpoint to obtain information about the
        status of this export job.

        This request is authenticated with the `applicationKey` and
        `masterSecret`.
      operationId: postExportUser
      requestBody:
        content:
          application/json:
            schema:
              properties:
                data:
                  properties:
                    all:
                      description: >-
                        Specify if export job should include all users, including
                        inactive ones
                      type: boolean
                    lastActive:
                      $ref: '#/components/schemas/DateCriteria'
                      description: >-
                        Optionally you can filter the export results based on the
                        last active date
                    registrationDate:
                      $ref: '#/components/schemas/DateCriteria'
                      description: >-
                        Optionally you can filter the export results based on the
                        registration date
                    segmentsCriteria:
                      $ref: '#/components/schemas/SegmentsCriteria'
                      description: >-
                        Optionally you can include a segment criteria object to
                        filter the export results
                    showCombinedSegments:
                      description: >-
                        When showSegments is true or it includes a list of segments,
                        you can specify if export jobs should show all segments in
                        one column or in separate columns.
                      type: boolean
                    showPreferences:
                      description: >-
                        When showSegments is true or it includes a list of segments,
                        you can specify if export jobs should also contain user
                        selectable segments
                      type: boolean
                    showSegments:
                      description: >-
                        Specify if export job should include all segments. This
                        property can also be an array of segment IDs, if you are
                        looking to include only certain segments. Please note that
                        export jobs will fail if you have users with more than 2000
                        segments
                      type: boolean
                    useSegmentNames:
                      description: >-
                        When showSegments is true or it includes a list of segments,
                        you can specify if export jobs should contain the name of
                        the segments instead of their IDs
                      type: boolean
                  type: object
              required:
                - data
              type: object
      summary: Export Users
  /export/re.notifica.export.UserData:
    post:
      security:
        - MasterSecret: []
      responses:
        '201':
          content:
            application/json; charset=utf-8:
              schema:
                properties:
                  exportJob:
                    $ref: '#/components/schemas/ResponseCreated'
          description: Created
      tags:
        - Export
      description: >-
        Export all the data of a specific user. This job might take some time to
        finish, check the export result endpoint to obtain information about the
        status of this export job.

        This request is authenticated with the `applicationKey` and
        `masterSecret`.
      operationId: postExportUserData
      requestBody:
        content:
          application/json:
            schema:
              properties:
                data:
                  properties:
                    userID:
                      description: Specify which user you want to export data from
                      type: string
                      example: '1288477272'
                  type: object
              required:
                - data
              type: object
      summary: Export User Data
  /export/re.notifica.export.Region:
    post:
      security:
        - MasterSecret: []
      responses:
        '201':
          content:
            application/json; charset=utf-8:
              schema:
                properties:
                  exportJob:
                    $ref: '#/components/schemas/ResponseCreated'
          description: Created
      tags:
        - Export
      description: >-
        Export all regions for an application. This job might take some time to
        finish, check the export result endpoint to obtain information about the
        status of this export job.

        This request is authenticated with the `applicationKey` and
        `masterSecret`.
      operationId: postExportRegion
      summary: Export Regions
  /export/re.notifica.export.Beacon:
    post:
      security:
        - MasterSecret: []
      responses:
        '201':
          content:
            application/json; charset=utf-8:
              schema:
                properties:
                  exportJob:
                    $ref: '#/components/schemas/ResponseCreated'
          description: Created
      tags:
        - Export
      description: >-
        Export all beacons for an application. This job might take some time to
        finish, check the export result endpoint to obtain information about the
        status of this export job.

        This request is authenticated with the `applicationKey` and
        `masterSecret`.
      operationId: postExportBeacon
      summary: Export Beacons
  /export/re.notifica.export.Notification:
    post:
      security:
        - MasterSecret: []
      responses:
        '201':
          content:
            application/json; charset=utf-8:
              schema:
                properties:
                  exportJob:
                    $ref: '#/components/schemas/ResponseCreated'
          description: Created
      tags:
        - Export
      description: >-
        Export notifications for an application. This job might take some time
        to finish, check the export result endpoint to obtain information about
        the status of this export job.

        This request is authenticated with the `applicationKey` and
        `masterSecret`.
      operationId: postExportNotification
      requestBody:
        content:
          application/json:
            schema:
              properties:
                data:
                  properties:
                    all:
                      description: >-
                        Specify if export job should include all notifications,
                        including archived ones
                      type: boolean
                    before:
                      description: >-
                        Specify if export job should only include notifications
                        created before a certain date
                      type: '#/components/schemas/Date'
                    since:
                      description: >-
                        Specify if export job should only include notifications
                        created after a certain date
                      type: '#/components/schemas/Date'
                    useSegmentNames:
                      description: >-
                        Specify if export jobs should contain the name of the
                        segments instead of their IDs
                      type: boolean
                  type: object
              required:
                - data
              type: object
      summary: Export Notifications
  /export/re.notifica.export.Reply:
    post:
      security:
        - MasterSecret: []
      responses:
        '201':
          content:
            application/json; charset=utf-8:
              schema:
                properties:
                  exportJob:
                    $ref: '#/components/schemas/ResponseCreated'
          description: Created
      tags:
        - Export
      description: >-
        Export replies for a specific notification. This job might take some
        time to finish, check the export result endpoint to obtain information
        about the status of this export job.

        This request is authenticated with the `applicationKey` and
        `masterSecret`.
      operationId: postExportReply
      requestBody:
        content:
          application/json:
            schema:
              properties:
                data:
                  properties:
                    notification:
                      description: The id of the notification you wish to export replies from
                      $ref: '#/components/schemas/ObjectId'
                  required:
                    - notification
                  type: object
              required:
                - data
              type: object
      summary: Export Replies
  /export/re.notifica.export.Event:
    post:
      security:
        - MasterSecret: []
      responses:
        '201':
          content:
            application/json; charset=utf-8:
              schema:
                properties:
                  exportJob:
                    $ref: '#/components/schemas/ResponseCreated'
          description: Created
      tags:
        - Export
      description: >-
        Export all the events for a certain type. This job might take some time
        to finish, check the export result endpoint to obtain information about
        the status of this export job.

        This request is authenticated with the `applicationKey` and
        `masterSecret`.
      operationId: postExportEvent
      requestBody:
        content:
          application/json:
            schema:
              properties:
                data:
                  properties:
                    type:
                      description: The type of the event you wish to export records from
                      type: string
                    before:
                      $ref: '#/components/schemas/Date'
                      description: >-
                        Specify if export job should only include events created
                        before a certain date
                    since:
                      $ref: '#/components/schemas/Date'
                      description: >-
                        Specify if export job should only include events created
                        after a certain date
                    criteria:
                      $ref: '#/components/schemas/Criteria'
                      description: >-
                        Optionally you can include a criteria object to filter the
                        export results
                    dataFilter:
                      $ref: '#/components/schemas/DataFilterCriteria'
                      description: >-
                        Optionally you can include data filters to generate
                        fine-grained export results. Only available for custom
                        events.
                    fence:
                      $ref: '#/components/schemas/ObjectId'
                      description: >-
                        If type is `re.notifica.event.beacon.Session`, optionally
                        you can specify the ID of a region (where the beacons are
                        located) to include only events for those beacons
                    region:
                      $ref: '#/components/schemas/ObjectId'
                      description: >-
                        If type is `re.notifica.event.region.Session`, optionally
                        you can specify the ID of a region to include only events
                        for that region
                    group:
                      $ref: '#/components/schemas/ObjectId'
                      description: >-
                        If type is any `re.notifica.event.asset.*`, optionally you
                        can specify the ID of an asset group to include only events
                        for that asset group
                    notification:
                      $ref: '#/components/schemas/ObjectId'
                      description: >-
                        If type is any `re.notifica.event.notification.*`,
                        optionally you can specify the ID of a notification to
                        include only events for that notification
                    scannable:
                      $ref: '#/components/schemas/ObjectId'
                      description: >-
                        If type is any `re.notifica.event.scannable.*`, optionally
                        you can specify the ID of a scannable to include only events
                        for that scannable
                    pass:
                      $ref: '#/components/schemas/ObjectId'
                      description: >-
                        If type is any `re.notifica.event.pass.*`, optionally you
                        can specify the id of a pass to include only events for
                        that pass
                    serial:
                      description: >-
                        If type is any `re.notifica.event.pass.*`, optionally you
                        can specify the serial of a pass to include only events for
                        that pass
                      type: string
                      format: uuid
                  required:
                    - type
[...]
