openapi: 3.0.0
info:
  description: >-
    Unified remote push notifications, location services, actionable analytics,
    loyalty and marketing automation for iOS, Android and Web apps.

    Create user profiles, categorize your users and devices, create & schedule
    any rich and interactive notification.

    Tap into millions of App Store and Google Play users with in-app products,
    run reward and loyalty programs with digital cards in Wallet and use
    Geo-Targeting, Geo-Fencing or iBeacon technology to provide the ultimate
    messaging experience.


    Sign up for free [here](https://dashboard.notifica.re/#/sign-up).


    The API calls below are all authenticated. There are 4 types of
    authentication credentials:


    - `email` / `password`: Used for signing in to your account and retrieving a
    session token


    - `token`: Used for all calls that need account-wide access, such as stats,
    lists of applications, etc.


    - `applicationKey` / `applicationSecret`: Only used for calls that originate
    from the device, e.g., registration, tags.


    - `applicationKey` / `masterSecret`: Used for calls that are related to a
    specific application and originate from your backend system, e.g., push,
    user segments, user lists, device lists, regions.


    All 4 types use normal Basic HTTP Authentication (username + password), in
    case of token, the password is ignored, so can be anything, e.g. "xxx"


    For more information about this API, please [contact
    us](http://notifica.re/contact).
  title: Notificare REST API
  version: ''
servers:
  - url: 'https://push.notifica.re/'
paths:
  /account/login:
    post:
      responses:
        '201':
          content:
            application/json; charset=utf-8:
              example:
                value:
                  account: "5245bc5b3e66a3b01f0024d4"
                  token: "5245bc5b3e66a3b01f2224d4"
                  expires: "2013-11-25T15:19:10.000Z"
                  needsSecondFactor: false
          description: Created
        '401':
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                error: wrong credentials
          description: Wrong credentials
        '403':
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                error: account blocked
          description: Account blocked
        '404':
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                error: account not found
          description: Account not found
        '429':
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                error: too many login attempts
          description: Too many login attempts
      tags:
        - Account
      description: >-
        Retrieve session token based on account credentials. This request must
        be authenticated with the `email` and `password`.
      operationId: postAccountLogin
      summary: Account Login
    delete:
      responses:
        '204':
          description: No Content
      tags:
        - Account
      description: >-
        Delete account session. This request must be authenticated with the
        `token`.
      operationId: deleteAccountLogin
      summary: Account Logout
  /account/login/totp:
    post:
      responses:
        '201':
          content:
            application/json; charset=utf-8:
              example:
                account: "5245bc5b3e66a3b01f0024d4"
                token: "5245bc5b3e66a3b01f2224d4"
                expires: "2013-11-25T15:19:10.000Z"
                needsSecondFactor: false
          description: Created
      tags:
        - Account
      description: >-
        Provide the 6 digit code after retrieving session token with account
        credentials. This request must be authenticated with the `token`.
      requestBody:
        content:
          application/json:
            schema:
              properties:
                code:
                  description: The code generated by Google Authenticator app.
                  type: number
                  example: '123456'
              required:
                - code
              type: object
      operationId: postAccountLoginTotp
      summary: Create TOTP
  /account/2fa:
    get:
      responses:
        '200':
          description: OK
          content:
            application/json; charset=utf-8:
              example:
                use2FA: false
                totp:
                  configured: false
                  verified: false
                  date: '2013-11-25T15:19:10.000Z'
                u2f:
                  configured: false
      tags:
        - Account
      description: >-
        Retrieve the account 2FA state. This should provide information about
        2FA functionality for your account. This request must be authenticated
        with the `token`.
      operationId: getAccount2fa
      summary: Check 2FA
  /account/2fa/totp:
    post:
      responses:
        '200':
          content:
            application/json; charset=utf-8:
              example:
                key: "xxx"
                url: "otpauth://totp/xxx?secret=xxx&period=30&issuer=xxx"
          description: Registered TOTP
        '403':
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                error: authenticator already setup
          description: Authenticator already setup
      tags:
        - Account
      description: >-
        Register your account for TOTP. This endpoint will provide you a key
        (for manual setup) and URL (to create a QRCode) that allows you to
        configure the Google Authenticator app. This request must be
        authenticated with the `token`.
      operationId: Register TOTP
      summary: Register TOTP
    delete:
      responses:
        '204':
          description: Unregistered TOTP
        '403':
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                error: authenticator not setup
          description: Authenticator not setup
      tags:
        - Account
      description: >-
        Unregister your account for TOTP. This endpoint will delete the setup
        for the Google Authenticator app. This request must be authenticated
        with the `token`.
      operationId: deleteAccountTotp
      summary: Unregister TOTP
  /account/2fa/enable:
    put:
      responses:
        '200':
          content:
            application/json; charset=utf-8:
              examples:
                enabled:
                  value:
                    message: "second factor enabled"
                already enabled:
                  value:
                    message: "second factor already enabled"
          description: Enabled 2FA
        '403':
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                not verified:
                  value:
                    error: no verified second factor
                not configured:
                  value:
                    error: no second factor configured
          description: No second factor
      tags:
        - Account
      description: >-
        At any time when your account has been configured for 2FA, you can use
        this endpoint to enable it. This request must be authenticated with the
        `token`.
      operationId: putAccount2faEnable
      summary: Enable 2FA
  /account/2fa/disable:
    put:
      responses:
        '200':
          content:
            application/json; charset=utf-8:
              examples:
                disabled:
                  value:
                    message: "second factor disabled"
                already disabled:
                  value:
                    message: "second factor already disabled"
          description: Disabled 2FA
      tags:
        - Account
      description: >-
        At any time when your account has been configured for 2FA and is
        enabled, you can disable it. This request must be authenticated with the
        `token`.
      operationId: putAccount2faDisable
      summary: Disable 2FA
  /application:
    get:
      parameters:
        - description: The number of results to retrieve.
          example: '10'
          in: query
          name: limit
          required: false
          schema:
            default: 50
            type: number
        - description: The number of results to skip
          example: '0'
          in: query
          name: skip
          required: false
          schema:
            type: number
      responses:
        '201':
          content:
            application/json; charset=utf-8:
              example:
                applications:
                  - _id: 5245bc5b3e66a3b01f0024d4
                    account: 5245bc5b3e66a3b01f0024d4
                    actionCategories:
                      - actions:
                          - camera: false
                            destructive: false
                            keyboard: false
                            label: follow
                            target: ''
                            type: re.notifica.action.Callback
                        name: MyTemplate
                        type: re.notifica.notification.Alert
                    active: true
                    apnsConfig:
                      info:
                        issuer:
                          C: US
                          CN: >-
                            Apple Worldwide Developer Relations
                            Certification Authority
                          O: Apple Inc.
                          OU: Apple Worldwide Developer Relations
                        notAfter: '2014-11-25T15:19:10.000Z'
                        notBefore: '2013-11-25T15:19:10.000Z'
                        serial: xxxxxx
                        subject:
                          C: NL
                          CN: >-
                            Apple Development IOS Push Services:
                            re.notifica.test
                          OU: XXXXXXXXXX
                          UID: re.notifica.test
                      certificate: raw certificate
                    applicationKey: xxxxxxxxxxxxx
                    applicationSecret: xxxxxxxxxxxx
                    authProviders:
                      - provider: twitter
                    blocked: false
                    category: Other
                    date: '2012-11-28T15:31:54.904Z'
                    gcmConfig:
                      key: xxxxxxxxxxxxxxxxxxxxx
                    locationTtl: 7
                    masterSecret: xxxxxxxxxx
                    name: Your App
                    production: false
                    regionConfig:
                      proximityUUID: f7826da6-4fa2-4e98-8024-bc5b71e0893e
          description: Created
      tags:
        - Application
      description: >-
        Get your active applications. This request must be authenticated with
        the `token`.
      operationId: getApplication
      summary: List Applications
    post:
      responses:
        '201':
          content:
            application/json; charset=utf-8:
              schema:
                properties:
                  application:
                    $ref: '#/components/schemas/ObjectCreated'
          description: Created
      tags:
        - Application
      description: >-
        Create a new application. This request must be authenticated with the
        `token`.
      operationId: postApplication
      requestBody:
        content:
          application/json:
            schema:
              properties:
                category:
                  description: Your application's category.
                  type: string
                name:
                  description: Your application's name.
                  type: string
                production:
                  description: If your application is set to production or not.
                  type: boolean
              required:
                - name
                - production
                - category
              type: object
      summary: Create Application
  /application/shared:
    get:
      parameters:
        - description: The maximum number of results to retrieve.
          example: '10'
          in: query
          name: limit
          required: false
          schema:
            default: 50
            type: number
        - description: The number of results to skip
          example: '0'
          in: query
          name: skip
          required: false
          schema:
            type: number
      responses:
        '200':
          content:
            application/json; charset=utf-8:
              example:
                applications:
                  - _id: 5245bc5b3e66a3b01f0024d4
                    account: 5245bc5b3e66a3b01f0024d4
                    actionCategories:
                      - actions:
                          - camera: false
                            destructive: false
                            keyboard: false
                            label: follow
                            target: ''
                            type: re.notifica.action.Callback
                        name: MyTemplate
                        type: re.notifica.notification.Alert
                    active: true
                    apnsConfig:
                      info:
                        issuer:
                          C: US
                          CN: >-
                            Apple Worldwide Developer Relations
                            Certification Authority
                          O: Apple Inc.
                          OU: Apple Worldwide Developer Relations
                        notAfter: '2014-11-25T15:19:10.000Z'
                        notBefore: '2013-11-25T15:19:10.000Z'
                        serial: xxxxxx
                        subject:
                          C: NL
                          CN: >-
                            Apple Development IOS Push Services:
                            re.notifica.test
                          OU: XXXXXXXXXX
                          UID: re.notifica.test
                      certificate: raw certificate
                    applicationKey: xxxxxxxxxxxxx
                    applicationSecret: xxxxxxxxxxxx
                    authProviders:
                      - provider: twitter
                    blocked: false
                    category: Other
                    date: '2012-11-28T15:31:54.904Z'
                    gcmConfig:
                      key: xxxxxxxxxxxxxxxxxxxxx
                    locationTtl: 7
                    masterSecret: xxxxxxxxxx
                    name: Your App
                    production: false
                    regionConfig:
                      proximityUUID: f7826da6-4fa2-4e98-8024-bc5b71e0893e
          description: Created
      tags:
        - Application
      description: >-
        Get all the active applications that are shared with your account. This
        request must be authenticated with the `token`.
      operationId: getApplicationShared
      summary: List Shared Applications
  '/application/{application}':
    delete:
      parameters:
        - description: The account id of an active application.
          example: 5245bc5b3e66a3b01f0024d4
          in: path
          name: application
          required: true
          schema:
            type: string
      responses:
        '200':
          content:
            application/json; charset=utf-8:
              example:
                message: application deactivated
          description: Deactivated
      tags:
        - Application
      description: >-
        Destroy an application. This operation can not be undone. This request
        must be authenticated with the `token`.
      operationId: deleteApplicationById
      summary: Delete Application
    get:
      parameters:
        - description: The account id of an active application.
          example: 5245bc5b3e66a3b01f0024d4
          in: path
          name: application
          required: true
          schema:
            type: string
      responses:
        '200':
          content:
            application/json; charset=utf-8:
              example:
                application:
                  _id: 5245bc5b3e66a3b01f0024d4
                  account: xxxxxxxxxxx
                  actionCategories:
                    - actions:
                        - camera: false
                          destructive: false
                          keyboard: false
                          label: follow
                          target: ''
                          type: re.notifica.action.Callback
                      name: MyTemplate
                      type: re.notifica.notification.Alert
                  active: true
                  apnsConfig:
                    info:
                      issuer:
                        C: US
                        CN: >-
                          Apple Worldwide Developer Relations Certification
                          Authority
                        O: Apple Inc.
                        OU: Apple Worldwide Developer Relations
                      notAfter: '2014-11-25T15:19:10.000Z'
                      notBefore: '2013-11-25T15:19:10.000Z'
                      serial: xxxxxx
                      subject:
                        C: NL
                        CN: >-
                          Apple Development IOS Push Services:
                          re.notifica.test
                        OU: XXXXXXXXXX
                        UID: re.notifica.test
                    certificate: raw certificate
                  applicationKey: xxxxxxxxxxxxx
                  applicationSecret: xxxxxxxxxxxx
                  authProviders:
                    - provider: twitter
                  blocked: false
                  category: Other
                  date: '2012-11-28T15:31:54.904Z'
                  gcmConfig:
                    key: xxxxxxxxxxxxxxxxxxxxx
                  locationTtl: 7
                  masterSecret: xxxxxxxxxx
                  name: Your App
                  production: false
                  regionConfig:
                    proximityUUID: f7826da6-4fa2-4e98-8024-bc5b71e0893e
          description: Application
      tags:
        - Application
      description: >-
        Get an application object. This request must be authenticated with the
        `token`.
      operationId: getApplicationById
      summary: Get Application
    put:
      parameters:
        - description: The account id of an active application.
          example: 5245bc5b3e66a3b01f0024d4
          in: path
          name: application
          required: true
          schema:
            type: string
      responses:
        '200':
          content:
            application/json; charset=utf-8:
              example:
                message: application changes saved
          description: OK
      tags:
        - Application
      description: >-
        Modify an application. This request must be authenticated with the
        `token`.
      operationId: putApplicationById
      requestBody:
        content:
          application/json:
            schema:
              example:
                category: Business
                name: My Amazing App
                production: true
              properties:
                category:
                  type: string
                name:
                  type: string
                production:
                  type: boolean
              type: object
      summary: Update Application
  /asset:
    get:
      parameters:
        - description: The (partial) content type of assets to list.
          example: 'image'
          in: query
          name: type
          required: false
          schema:
            type: string
        - description: The original filename of assets to list.
          example: 'test'
          in: query
          name: name
          required: false
          schema:
            type: string
        - description: The maximum number of results to retrieve.
          example: '10'
          in: query
          name: limit
          required: false
          schema:
            default: 100
            type: number
        - description: The number of results to skip
          example: '0'
          in: query
          name: skip
          required: false
          schema:
            type: number
      responses:
        '200':
          content:
            application/json; charset=utf-8:
              example:
                assets:
                  - _id: 5708dff98f252b8f23fe05100
                    application: 5354f0bb3fa544f52ff4cff0
                    contentDisposition: >-
                      form-data; name="file";
                      filename="Screenshot_2016-04-07-13-17-31.png"
                    contentLength: 59609
                    contentType: image/png
                    customSortOrder: 0
                    fileName: >-
                      /notifications/3d99d18148e6f3dbcf4ff891c9a0ff63b0311feccc7b9d0c8c79fee9b4dde19/e457c97c76bc41ff524af3697cc5236cc06fd982a83f983046fff68ea56b1b6
                    key: >-
                      3d99d18148e6f3dbcf4ff891c9a0ff63b0311feccc7b9d0c8c79fee9b4dde19/e457c97c76bc41ff524af3697cc5236cc06fd982a83f983046fff68ea56b1b6
                    lastModified: '2016-04-09T10:25:28.129Z'
                    originalFileName: Screenshot_2016-04-07-13-17-31.png
                  - _id: 5708dff98f252b8f23fe05100
                    application: 5354f0bb3fa544f52ff4cff0
                    contentDisposition: >-
                      form-data; name="file";
                      filename="Screenshot_2016-04-07-13-17-31.png"
                    contentLength: 59609
                    contentType: image/png
                    customSortOrder: 0
                    fileName: >-
                      /notifications/3d99d18148e6f3dbcf4ff891c9a0ff63b0311feccc7b9d0c8c79fee9b4dde19/e457c97c76bc41ff524af3697cc5236cc06fd982a83f983046fff68ea56b1b6
                    key: >-
                      3d99d18148e6f3dbcf4ff891c9a0ff63b0311feccc7b9d0c8c79fee9b4dde19/e457c97c76bc41ff524af3697cc5236cc06fd982a83f983046fff68ea56b1b6
                    lastModified: '2016-04-09T10:25:28.129Z'
                    originalFileName: Screenshot_2016-04-07-13-17-31.png
                count: 2
          description: OK
      tags:
        - Asset
      description: >-
        Get all the assets for an application.

        This request is authenticated with the `applicationKey` and
        `masterSecret`.
      operationId: getAsset
      summary: List Assets
    post:
      responses:
        '201':
          content:
            application/json; charset=utf-8:
              example:
                _id: 570bff9ff09c7c399e721897
                key: >-
                  3d99d18148e6f3dbcf4ff891c9a02ffb0311feccc7b9d0c8c79fee9dddde19/51b73467c0665add7abfd4bc47ebfdff843f77f58dcb12cdeb3d0c094f0e9835
          description: Created
      tags:
        - Asset
      description: >-
        Create an asset in a specific application. Uploads a file to Notificare.
        The resulting filename is the path of that file inside the notificare
        storage. This can be used as a reference to the file in further
        processing or deleting.

        The contents of the file should be in the body of the request and with
        the correct mime-type. So, e.g. an image should be of type `image/png`,
        `image/jpg` or `image/gif`, a pdf should be `application/pdf` and a
        video should be `video/mp4`.

        This request is authenticated with the `applicationKey` and
        `masterSecret`.
      operationId: postAsset
      requestBody:
        content:
          image/png:
            schema:
              type: string
              format: binary
          image/jpeg:
            schema:
              type: string
              format: binary
          image/gif:
            schema:
              type: string
              format: binary
          application/pdf:
            schema:
              type: string
              format: binary
          video/mp4:
            schema:
              type: string
              format: binary
      summary: Create Asset
  '/asset/{id}':
    get:
      parameters:
        - description: The asset's id.
          example: 5245bc5b3e66a3b01fff24d4
          in: path
          name: id
          required: true
          schema:
            type: string
      responses:
        '200':
          content:
            application/json; charset=utf-8:
              example:
                asset:
                  _id: 5708dff98f252b8f23fe05100
                  application: 5354f0bb3fa544f52ff4cff0
                  contentDisposition: >-
                    form-data; name="file";
                    filename="Screenshot_2016-04-07-13-17-31.png"
                  contentLength: 59609
                  contentType: image/png
                  customSortOrder: 0
                  fileName: >-
                    /notifications/3d99d18148e6f3dbcf4ff891c9a0ff63b0311feccc7b9d0c8c79fee9b4dde19/e457c97c76bc41ff524af3697cc5236cc06fd982a83f983046fff68ea56b1b6
                  key: >-
                    3d99d18148e6f3dbcf4ff891c9a0ff63b0311feccc7b9d0c8c79fee9b4dde19/e457c97c76bc41ff524af3697cc5236cc06fd982a83f983046fff68ea56b1b6
                  lastModified: '2016-04-09T10:25:28.129Z'
                  originalFileName: Screenshot_2016-04-07-13-17-31.png
          description: OK
      tags:
        - Asset
      description: >-
        Get the asset.

        This request is authenticated with the `applicationKey` and
        `masterSecret`.
      operationId: getAssetById
      summary: Get Asset
    put:
      parameters:
        - description: The asset's id.
          example: 5245bc5b3e66a3b01fff24d4
          in: path
          name: id
          required: true
          schema:
            type: string
      responses:
        '200':
          content:
            application/json; charset=utf-8:
              example:
                message: asset updated
          description: OK
      tags:
        - Asset
      description: >-
        Modify a specific asset.

        This request is authenticated with the `applicationKey` and
        `masterSecret`.
      operationId: putAssetById
      requestBody:
        content:
          image/png:
            schema:
              type: string
              format: binary
          image/jpeg:
            schema:
              type: string
              format: binary
          image/gif:
            schema:
              type: string
              format: binary
          application/pdf:
            schema:
              type: string
              format: binary
          video/mp4:
            schema:
              type: string
              format: binary
      summary: Update Asset
    delete:
      parameters:
        - description: The asset's id.
          example: 5245bc5b3e66a3b01fff24d4
          in: path
          name: id
          required: true
          schema:
            type: string
      responses:
        '204':
          description: No Content
      tags:
        - Asset
      description: >-
        Delete an asset. This operation can not be undone.

        This request is authenticated with the `applicationKey` and
        `masterSecret`.
      operationId: deleteAssetById
      summary: Delete Asset
  '/asset/{id}/order':
    put:
      parameters:
        - description: The asset's id.
          example: 5245bc5b3e66a3b01fff24d4
          in: path
          name: id
          required: true
          schema:
            type: string
      responses:
        '200':
          content:
            application/json; charset=utf-8:
              example:
                message: asset updated
          description: OK
      tags:
        - Asset
      description: >-
        Modify a specific asset.

        This request is authenticated with the `applicationKey` and
        `masterSecret`.
      operationId: putAssetOrder
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                customSortOrder:
                  type: number
                  example: 2
              required:
                - customSortOrder
      summary: Update Asset Order
  /asset/group:
    get:
      parameters:
        - description: The maximum number of results to retrieve.
          example: '10'
          in: query
          name: limit
          required: false
          schema:
            default: 100
            type: number
        - description: The number of results to skip
          example: '0'
          in: query
          name: skip
          required: false
          schema:
            type: number
      responses:
        '200':
          content:
            application/json; charset=utf-8:
              example:
                assetGroups:
                  - _id: 56f3444fc34c01653ffccdf0
                    application: 5354f0bb3fa54ff52ff4c7c0
                    assets:
                      - _id: 56f3444fcff01653c7ccdf1
                        button:
                          action: ''
                          label: ''
                        description: ''
                        key: >-
                          3d99d18148e6f3dbcf4ff891c9a02646ff311feccc7b9d0c8c79fee9b4dde19/c76c6363a7e014fae1586fa9b8ff1c61faa7b79036fd2670db2840de979cab03
                        title: Screen Shot 2016-03-24 at 00.04.49.png
                    name: testing
                    notAfter: null
                    notBefore: null
                    segment: 5354f0bb3fa54ff52ff4c7c0
                  - _id: 56f3444fc34c01653c7ccdf0
                    application: 5354f0bb3fa544452ff4c7c0
                    assets:
                      - _id: 56f3444fc34c01653c7ccdf1
                        button:
                          action: ''
                          label: ''
                        description: ''
                        key: >-
                          3d99d18148e6f3dbcf4ff891c9a026463b0311feccc7b9d0c8c79fee9b4dde19/c76c6363a7e014fae1586fa9b83b1c61faa7b79036fd2670db2840de979cab03
                        title: Screen Shot 2016-03-24 at 00.04.49.png
                    name: testing
                    notAfter: null
                    notBefore: null
                    segment: 5354f0bb3fa54ff52ff4c7c0
                count: 2
          description: OK
      tags:
        - Asset
      description: >-
        Get all the asset groups for an application.

        This request is authenticated with the `applicationKey` and
        `masterSecret`.
      operationId: getAssetGroup
      summary: List Asset Groups
    post:
      responses:
        '201':
          content:
            application/json; charset=utf-8:
              schema:
                properties:
                  assetGroup:
                    $ref: '#/components/schemas/ObjectCreated'
          description: Created
      tags:
        - Asset
      description: >-
        Create an asset group in a specific application. This allows you to
        group assets in a group can then later be retrieved in your applications
        using the SDKs.

        This request is authenticated with the `applicationKey` and
        `masterSecret`.
      operationId: postAssetGroup
      requestBody:
        $ref: '#/components/requestBodies/AssetGroup'
      summary: Create Asset Group
  '/asset/group/byname/{name}':
    get:
      parameters:
        - description: The name of the asset group
          example: testing
          in: path
          name: name
          required: true
          schema:
            type: string
        - description: The maximum number of results to retrieve.
          example: '10'
          in: query
          name: limit
          required: false
          schema:
            default: 100
            type: number
        - description: The number of results to skip
          example: '0'
          in: query
          name: skip
          required: false
          schema:
            type: number
      responses:
        '200':
          content:
            application/json; charset=utf-8:
              example:
                assetGroups:
                  - _id: 56f3444fc34c01653ffccdf0
                    application: 5354f0bb3fa54ff52ff4c7c0
                    assets:
                      - _id: 56f3444fcff01653c7ccdf1
                        button:
                          action: ''
                          label: ''
                        description: ''
                        key: >-
                          3d99d18148e6f3dbcf4ff891c9a02646ff311feccc7b9d0c8c79fee9b4dde19/c76c6363a7e014fae1586fa9b8ff1c61faa7b79036fd2670db2840de979cab03
                        title: Screen Shot 2016-03-24 at 00.04.49.png
                    name: testing
                    notAfter: null
                    notBefore: null
                    segment: 5354f0bb3fa54ff52ff4c7c0
                  - _id: 56f3444fc34c01653c7ccdf0
                    application: 5354f0bb3fa544452ff4c7c0
                    assets:
                      - _id: 56f3444fc34c01653c7ccdf1
                        button:
                          action: ''
                          label: ''
                        description: ''
                        key: >-
                          3d99d18148e6f3dbcf4ff891c9a026463b0311feccc7b9d0c8c79fee9b4dde19/c76c6363a7e014fae1586fa9b83b1c61faa7b79036fd2670db2840de979cab03
                        title: Screen Shot 2016-03-24 at 00.04.49.png
                    name: testing
                    notAfter: null
                    notBefore: null
                    segment: 5354f0bb3fa54ff52ff4c7c0
                count: 2
          description: OK
      tags:
        - Asset
      description: >-
        Get all the asset groups for an application. Because asset groups can
        share the same name you might need to get all asset groups with the same
        name. Use this endpoint to retrieve assets with the same name.

        This request is authenticated with the `applicationKey` and
        `masterSecret`.
      operationId: getAssetGroupByName
      summary: List Asset Groups By Name
  '/asset/group/{id}':
    get:
      parameters:
        - description: The asset group's id.
          example: 5245bc5b3e66a3b01f0024d4
          in: path
          name: id
          required: true
          schema:
            type: string
      responses:
        '200':
          content:
            application/json; charset=utf-8:
              example:
                assetGroup:
                  _id: 56f3444fc34c01653ffccdf0
                  application: 5354f0bb3fa54ff52ff4c7c0
                  assets:
                    - _id: 56f3444fcff01653c7ccdf1
                      button:
                        action: ''
                        label: ''
                      description: ''
                      key: >-
                        3d99d18148e6f3dbcf4ff891c9a02646ff311feccc7b9d0c8c79fee9b4dde19/c76c6363a7e014fae1586fa9b8ff1c61faa7b79036fd2670db2840de979cab03
                      title: Screen Shot 2016-03-24 at 00.04.49.png
                  name: testing
                  notAfter: null
                  notBefore: null
                  segment: 5354f0bb3fa54ff52ff4c7c0
          description: OK
      tags:
        - Asset
      description: >-
        Get a specific asset group.

        This request is authenticated with the `applicationKey` and
        `masterSecret`.
      operationId: getAssetGroupById
      summary: Get Asset Group
    put:
      parameters:
        - description: The asset group's id.
          example: 5245bc5b3e66a3b01f0024d4
          in: path
          name: id
          required: true
          schema:
            type: string
      responses:
        '200':
          content:
            application/json; charset=utf-8:
              example:
                message: asset group updated
          description: OK
      tags:
        - Asset
      description: >-
        Modify a specific asset group.

        This request is authenticated with the `applicationKey` and
        `masterSecret`.
      operationId: putAssetGroupById
      requestBody:
        $ref: '#/components/requestBodies/AssetGroup'
      summary: Update Asset Group
    delete:
      parameters:
        - description: The asset group's id.
          example: 5245bc5b3e66a3b01fff24d4
          in: path
          name: id
          required: true
          schema:
            type: string
      responses:
        '200':
          content:
            application/json; charset=utf-8:
              example:
                message: asset group removed
          description: OK
      tags:
        - Asset
      description: >-
        Delete an asset group. This operation cannot be undone.

        This request is authenticated with the `applicationKey` and
        `masterSecret`.
      operationId: deleteAssetGroupById
      summary: Delete Asset Group
  /beacon:
    post:
      responses:
        '201':
          content:
            application/json; charset=utf-8:
              schema:
                properties:
                  beacon:
                    $ref: '#/components/schemas/ObjectCreated'
          description: Created
      tags:
        - Beacon
      description: >-
        Create a new beacon for a region. To complete this request you must
        create a triggered Notification first.

        This request is authenticated with the `applicationKey` and
        `masterSecret`.
      operationId: postBeacon
      requestBody:
        $ref: '#/components/requestBodies/BeaconCreate'
      summary: Create Beacon
  '/beacon/forregion/{region}':
    get:
      parameters:
        - description: The id of an active region.
          example: 5245bc5b3e66a3b01f0024d4
          in: path
          name: region
          required: true
          schema:
            type: string
      responses:
        '200':
          content:
            application/json; charset=utf-8:
              example:
                beacons:
                  - _id: 5245bc5b3e66a3b01f0024d4
                    region: 5245bc5b3e66a3b01f0024d4
                    major: 1
                    minor: 100
                    name: My Beacon
                    notification: 6245bc5b3e66a3b01f0024d5
                    proximity: immediate
                  - _id: 5245bc5b3e66a3b01f0024d6
                    region: 5245bc5b3e66a3b01f0024d4
                    major: 1
                    minor: 101
                    name: My Beacon
                    notification: 6245bc5b3e66a3b01f0024d5
                    proximity: immediate
          description: OK
      tags:
        - Beacon
      description: >-
        Get all beacons for a certain region.

        This request is authenticated with the `applicationKey` and
        `masterSecret`.
      operationId: getBeaconForRegion
      summary: List Beacons For Region
  '/beacon/{id}':
    get:
      parameters:
        - description: The beacon id of an active beacon.
          example: 5245bc5b3e66a3b01f0024d4
          in: path
          name: id
          required: true
          schema:
            type: string
      responses:
        '200':
          content:
            application/json; charset=utf-8:
              example:
                beacon:
                  _id: 5245bc5b3e66a3b01f0024d4
                  region: 5245bc5b3e66a3b01f0024d4
                  major: 1
                  minor: 100
                  name: My Beacon
                  notification: 6245bc5b3e66a3b01f0024d5
                  proximity: immediate
          description: OK
      tags:
        - Beacon
      description: >-
        Get a beacon object.

        This request is authenticated with the `applicationKey` and
        `masterSecret`.
      operationId: getBeaconById
      summary: Get Beacon
    put:
      parameters:
        - description: The beacon id of an active beacon.
          example: 5245bc5b3e66a3b01f0024d4
          in: path
          name: id
          required: true
          schema:
            type: string
      responses:
        '200':
          content:
            application/json; charset=utf-8:
              example:
                message: beacon updated
          description: OK
      tags:
        - Beacon
      description: >-
        Modify a beacon.

        This request is authenticated with the `applicationKey` and
        `masterSecret`.
      operationId: putBeaconById
      requestBody:
        $ref: '#/components/requestBodies/BeaconUpdate'
      summary: Update Beacon
    delete:
      parameters:
        - description: The beacon id of an active beacon.
          example: 5245bc5b3e66a3b01f0024d4
          in: path
          name: id
          required: true
          schema:
            type: string
      responses:
        '200':
          content:
            application/json; charset=utf-8:
              example:
                message: beacon deleted
          description: OK
      tags:
        - Beacon
      description: >-
        Delete a beacon. This operation cannot be undone.

        This request is authenticated with the `applicationKey` and
        `masterSecret`.
      operationId: deleteBeaconById
      summary: Delete Beacon
  /datasource:
    get:
      responses:
        '200':
          content:
            application/json; charset=utf-8:
              example:
                count: 2
                datasources:
                  - _id: 55c0c7f4fed3e3bb70e2e86b
                    active: true
                    application: 5489b42ff23e5815132b492a
                    categoryMap: []
                    config:
                      messageType: re.notifica.notification.Alert
                      url: 'http://notifica.re/blog/feed.xml'
                    feedMap: tag_newsletter
                    lastParsed: '2015-11-12T08:28:53.000Z'
                    lastRun: '2015-11-13T15:19:10.698Z'
                    mapTarget: tag
                    mapType: feed
                    name: Blog
                    nextRun: '2015-11-13T15:34:10.698Z'
                    type: feed
                  - _id: 55c0c7f4fed3e3bb70e2e86b
                    active: true
                    application: 5489b42ff23e5815132b492a
                    categoryMap: []
                    config:
                      messageType: re.notifica.notification.Alert
                      url: 'http://notifica.re/blog/feed.xml'
                    feedMap: tag_newsletter
                    lastParsed: '2015-11-12T08:28:53.000Z'
                    lastRun: '2015-11-13T15:19:10.698Z'
                    mapTarget: tag
                    mapType: feed
                    name: Blog
                    nextRun: '2015-11-13T15:34:10.698Z'
                    type: feed
          description: OK
      tags:
        - Automation
      description: >-
        Get all the datasources for an application.

        This request is authenticated with the `applicationKey` and
        `masterSecret`.
      operationId: getDatasource
      summary: List Datasources
    post:
      responses:
        '200':
          content:
            application/json; charset=utf-8:
              example:
                datasource:
                  $ref: '#/components/schemas/ObjectCreated'
          description: OK
      tags:
        - Automation
      description: >-
        Create a datasource.

        This request is authenticated with the `applicationKey` and
        `masterSecret`.
      operationId: postDatasource
      requestBody:
        $ref: '#/components/requestBodies/DatasourceCreate'
      summary: Create Datasource
  /datasource/test:
    post:
      responses:
        '200':
          content:
            application/json; charset=utf-8:
              example:
                feed:
                  items:
                    - date: '2016-06-24T09:00:00.000Z'
                      description: |-
                        <p><br />
                        <strong>Press release</strong>...
                      link: >-
                        http://notifica.re/blog/2016/06/24/MobileStrategy-Notificare-Partnership/
                      title: MobileStrategy and Notificare announce...
                    - date: '2016-02-26T13:02:00.000Z'
                      description: |-
                        <p><br />
                        From day 1, we set out to provide...
                      link: >-
                        http://notifica.re/blog/2016/02/26/Notificare-ISO-Certification/
                      title: Notificare receives ISO 27001 certification
                  meta:
                    date: '2016-06-24T09:00:00.000Z'
                    description: Our Blog
                    title: Notificare
          description: OK
      tags:
        - Automation
      description: >-
        Test a datasource feed before actually creating it.

        This request is authenticated with the `applicationKey` and
        `masterSecret`.
      operationId: postDatasourceTest
      requestBody:
        content:
          application/json:
            schema:
              properties:
                config:
                  properties:
                    messageType:
                      description: The type of message to send
                      type: string
                    url:
                      description: The URL to fetch the RSS Feed from
                      type: string
                  required:
                    - url
                    - messageType
                  type: object
              type: object
      summary: Test New Datasource
  '/datasource/{id}':
    get:
      parameters:
        - description: The source's id.
          example: 55c0c7f4fed3e3ff70e2e86b
          in: path
          name: id
          required: true
          schema:
            type: string
      responses:
        '200':
          content:
            application/json; charset=utf-8:
              example:
                datasource:
                  _id: 55c0c7f4fed3e3bb70e2e86b
                  active: true
                  application: 5489b42ff23e5815132b492a
                  categoryMap: []
                  config:
                    messageType: re.notifica.notification.Alert
                    url: 'http://notifica.re/blog/feed.xml'
                  feedMap: tag_newsletter
                  lastParsed: '2015-11-12T08:28:53.000Z'
                  lastRun: '2015-11-13T15:19:10.698Z'
                  mapTarget: tag
                  mapType: feed
                  name: Blog
                  nextRun: '2015-11-13T15:34:10.698Z'
                  type: feed
          description: OK
          headers: {}
      tags:
        - Automation
      description: >-
        Get a specific datasource.

        This request is authenticated with the `applicationKey` and
        `masterSecret`.
      operationId: getDatasourceById
      summary: Get Datasource
    put:
      parameters:
        - description: The source's id.
          example: 5245bc5b3e66a3b01f0024d4
          in: path
          name: id
          required: true
          schema:
            type: string
      responses:
        '200':
          content:
            application/json; charset=utf-8:
              example:
                message: datasource updated
          description: OK
          headers: {}
      tags:
        - Automation
      description: >-
        Modify a datasource.

        This request is authenticated with the `applicationKey` and
        `masterSecret`.
      operationId: putDatasourceById
      requestBody:
        $ref: '#/components/requestBodies/DatasourceUpdate'
      summary: Update Datasource
    delete:
      parameters:
        - description: The source's id.
          example: 5245bc5b3e66a3b01f0024d4
          in: path
          name: id
          required: true
          schema:
            type: string
      responses:
        '200':
          content:
            application/json; charset=utf-8:
              example:
                message: datasource deleted
          description: OK
      tags:
        - Automation
      description: >-
        Delete a datasource. This operation cannot be undone.

        This request is authenticated with the `applicationKey` and
        `masterSecret`.
      operationId: deleteDatasourceById
      summary: Delete Datasource
  '/datasource/{id}/test':
    put:
      parameters:
        - description: The source's id.
          example: 5245bc5b3e66a3b01f0024d4
          in: path
          name: id
          required: true
          schema:
            type: string
      responses:
        '200':
          content:
            application/json; charset=utf-8:
              example:
                feed:
                  items:
                    - date: '2016-06-24T09:00:00.000Z'
                      description: |-
                        <p><br />
                        <strong>Press release</strong>...
                      link: >-
                        http://notifica.re/blog/2016/06/24/MobileStrategy-Notificare-Partnership/
                      title: MobileStrategy and Notificare announce...
                    - date: '2016-02-26T13:02:00.000Z'
                      description: |-
                        <p><br />
                        From day 1, we set out to provide...
                      link: >-
                        http://notifica.re/blog/2016/02/26/Notificare-ISO-Certification/
                      title: Notificare receives ISO 27001 certification
                  meta:
                    date: '2016-06-24T09:00:00.000Z'
                    description: Our Blog
                    title: Notificare
          description: OK
      tags:
        - Automation
      description: >-
        Test a datasource feed that is already created.

        This request is authenticated with the `applicationKey` and
        `masterSecret`.
      operationId: putDatasourceTest
      summary: Test Existing Datasource
  /device:
    get:
      parameters:
        - description: The maximum number of results to retrieve.
          example: '10'
          in: query
          name: limit
          required: false
          schema:
            default: 100
            type: number
        - description: The number of results to skip.
          example: '0'
          in: query
          name: skip
          required: false
          schema:
            type: number
        - description: The channel you wish to filter results for.
          example: push
          in: query
          name: medium
          required: false
          schema:
            default: push
            type: string
      responses:
        '200':
          content:
            application/json; charset=utf-8:
              example:
                count: 2
                devices:
                  - tags: []
                    _id: 5245bc5b3e66a3b01f0024d4
                    active: true
                    appVersion: '1.0'
                    application: 52458981394c07916000492c
                    deviceID: 00a9b9bf-c099-45aa-9278-64d6a3f22476
                    deviceString: MacIntel
                    language: en
                    lastActive: '2014-03-11T16:20:55.084Z'
                    location:
                      coordinates:
                        - 4.2345
                        - 5.6789
                      type: Point
                    medium: push
                    osString: Mac OS X 10.9.2
                    osVersion: 10.9.2
                    platform: Mac OS X
                    sdkVersion: 0.0.1
                    timeZoneOffset: -5
                    transport: Websocket
                    userID: info@notifica.re
                  - tags: []
                    _id: 5245bc5b3e66a3b01f0024d4
                    active: true
                    appVersion: '1.0'
                    application: 52458981394c07916000492c
                    deviceID: 00a9b9bf-c099-45aa-9278-64d6a3f22476
                    deviceString: MacIntel
                    language: en
                    last_active: '2014-03-11T16:20:55.084Z'
                    location:
                      coordinates:
                        - 4.2345
                        - 5.6789
                      type: Point
                    medium: push
                    osString: Mac OS X 10.9.2
                    osVersion: 10.9.2
                    platform: Mac OS X
                    sdkVersion: 0.0.1
                    timeZoneOffset: -5
                    transport: Websocket
                    userID: info@notifica.re
          description: OK
      tags:
        - Device
      description: >-
        Get all the devices for a specific application. If skip and limit are
        not used, there is a default size of 100 devices. Please note that there
        is a max. size of 1000 devices per page. When the medium property is
        used we will filter the results by the type of channel your devices were
        registered for.

        This request is authenticated with the `applicationKey` and
        `masterSecret`.
      operationId: getDevice
      summary: List Devices
  /device/bygeometry:
    post:
      parameters:
        - description: The maximum number of results to retrieve.
          example: '10'
          in: query
          name: limit
          required: false
          schema:
            default: 100
            type: number
        - description: The number of results to skip
          example: '0'
          in: query
          name: skip
          required: false
          schema:
            type: number
      responses:
        '200':
          content:
            application/json; charset=utf-8:
              example:
                count: 2
                devices:
                  - tags:
                      - toys
                    _id: 5245bc5b3e66a3b01f0024d4
                    active: true
                    appVersion: '1.0'
                    application: 52458981394c07916000492c
                    deviceID: 00a9b9bf-c099-45aa-9278-64d6a3f22476
                    deviceString: MacIntel
                    language: en
                    lastActive: '2014-03-11T16:20:55.084Z'
                    location:
                      coordinates:
                        - 4.2345
                        - 5.6789
                      type: Point
                    medium: push
                    osString: Mac OS X 10.9.2
                    osVersion: 10.9.2
                    platform: Mac OS X
                    sdkVersion: 0.0.1
                    timeZoneOffset: -5
                    transport: Websocket
                    userID: info@notifica.re
                  - tags:
                      - toys
                    _id: 5245bc5b3e66a3b01f0024d4
                    active: true
                    appVersion: '1.0'
                    application: 52458981394c07916000492c
                    deviceID: 00a9b9bf-c099-45aa-9278-64d6a3f22476
                    deviceString: MacIntel
                    language: en
                    lastActive: '2014-03-11T16:20:55.084Z'
                    location:
                      coordinates: []
                      type: Point
                    medium: push
                    osString: Mac OS X 10.9.2
                    osVersion: 10.9.2
                    platform: Mac OS X
                    sdkVersion: 0.0.1
                    timeZoneOffset: -5
                    transport: Websocket
                    userID: info@notifica.re
          description: OK
      tags:
        - Device
      description: >-
        Get all the devices in a specific geometric shape. If skip and limit are
        not used, there is a default size of 100 devices. Please note that there
        is a max. size of 1000 devices per page.

        This request is authenticated with the `applicationKey` and
        `masterSecret`.
      operationId: postDeviceByGeometry
      requestBody:
        content:
          application/json:
            schema:
              properties:
                geometry:
                  $ref: '#/components/schemas/Polygon'
                  description: >-
                    A simple polygon geoJSON object used to query the devices'
                    location
              required:
                - geometry
              type: object
      summary: List Devices For Polygon
  '/device/bylocation/{lat1}/{long1}/{lat2}/{long2}':
    get:
      parameters:
        - description: The desired south-east latitude
          example: '4.2345'
          in: path
          name: lat1
          required: true
          schema:
            type: number
        - description: The desired south-east longitude
          example: '5.6789'
          in: path
          name: long1
          required: true
          schema:
            type: number
        - description: The desired north-west latitude
          example: '4.2345'
          in: path
          name: lat2
          required: true
          schema:
            type: number
        - description: The desired north-west longitude
          example: '5.6789'
          in: path
          name: long2
          required: true
          schema:
            type: number
        - description: The maximum number of results to retrieve.
          example: '10'
          in: query
          name: limit
          required: false
          schema:
            default: 100
            type: number
        - description: The number of results to skip
          example: '0'
          in: query
          name: skip
          required: false
          schema:
            type: number
      responses:
        '200':
          content:
            application/json; charset=utf-8:
              example:
                count: 2
                devices:
                  - tags:
                      - toys
                    _id: 5245bc5b3e66a3b01f0024d4
                    active: true
                    appVersion: '1.0'
                    application: 52458981394c07916000492c
                    deviceID: 00a9b9bf-c099-45aa-9278-64d6a3f22476
                    deviceString: MacIntel
                    language: en
                    lastActive: '2014-03-11T16:20:55.084Z'
                    location:
                      coordinates:
                        - 4.2345
                        - 5.6789
                      type: Point
                    medium: push
                    osString: Mac OS X 10.9.2
                    osVersion: 10.9.2
                    platform: Mac OS X
                    sdkVersion: 0.0.1
                    timeZoneOffset: -5
                    transport: Websocket
                    userID: info@notifica.re
                  - tags:
                      - toys
                    _id: 5245bc5b3e66a3b01f0024d4
                    active: true
                    appVersion: '1.0'
                    application: 52458981394c07916000492c
                    deviceID: 00a9b9bf-c099-45aa-9278-64d6a3f22476
                    deviceString: MacIntel
                    language: en
                    lastActive: '2014-03-11T16:20:55.084Z'
                    location:
                      coordinates: []
                      type: Point
                    medium: push
                    osString: Mac OS X 10.9.2
                    osVersion: 10.9.2
                    platform: Mac OS X
                    sdkVersion: 0.0.1
                    timeZoneOffset: -5
                    transport: Websocket
                    userID: info@notifica.re
          description: OK
      tags:
        - Device
      description: >-
        Get all the devices withing a specific bounds. Bounds form a rectangle
        from the points at its south-west and north-east corners. If skip and
        limit are not used, there is a default size of 100 devices. Please note
        that there is a max. size of 1000 devices per page.

        This request is authenticated with the `applicationKey` and
        `masterSecret`.
      operationId: getDeviceForBounds
      summary: List Devices For Bounds
  '/device/bylocation/{latitude}/{longitude}/{distance}':
    get:
      parameters:
        - description: The desired latitude
          example: '4.2345'
          in: path
          name: latitude
          required: true
          schema:
            type: number
        - description: The desired longitude
          example: '5.6789'
          in: path
          name: longitude
          required: true
          schema:
            type: number
        - description: >-
            The distance in kilometers of your search area relative to the
            latitude and longitude
          example: '1.5'
          in: path
          name: distance
          required: true
          schema:
            type: number
        - description: The maximum number of results to retrieve.
          example: '10'
          in: query
          name: limit
          required: false
          schema:
            default: 100
            type: number
        - description: The number of results to skip
          example: '0'
          in: query
          name: skip
          required: false
          schema:
            type: number
      responses:
        '200':
          content:
            application/json; charset=utf-8:
              example:
                count: 2
                devices:
                  - tags:
                      - toys
                    _id: 5245bc5b3e66a3b01f0024d4
                    active: true
                    appVersion: '1.0'
                    application: 52458981394c07916000492c
                    deviceID: 00a9b9bf-c099-45aa-9278-64d6a3f22476
                    deviceString: MacIntel
                    language: en
                    lastActive: '2014-03-11T16:20:55.084Z'
                    location:
                      coordinates:
                        - 4.2345
                        - 5.6789
                      type: Point
                    medium: push
                    osString: Mac OS X 10.9.2
                    osVersion: 10.9.2
                    platform: Mac OS X
                    sdkVersion: 0.0.1
                    timeZoneOffset: -5
                    transport: Websocket
                    userID: info@notifica.re
                  - tags:
                      - toys
                    _id: 5245bc5b3e66a3b01f0024d4
                    active: true
                    appVersion: '1.0'
                    application: 52458981394c07916000492c
                    deviceID: 00a9b9bf-c099-45aa-9278-64d6a3f22476
                    deviceString: MacIntel
                    language: en
                    lastActive: '2014-03-11T16:20:55.084Z'
                    location:
                      coordinates: []
                      type: Point
                    medium: push
                    osString: Mac OS X 10.9.2
                    osVersion: 10.9.2
                    platform: Mac OS X
                    sdkVersion: 0.0.1
                    timeZoneOffset: -5
                    transport: Websocket
                    userID: info@notifica.re
          description: OK
      tags:
        - Device
      description: >-
        Get all the devices in a specific location. If skip and limit are not
        used, there is a default size of 100 devices. Please note that there is
        a max. size of 1000 devices per page.

        This request is authenticated with the `applicationKey` and
        `masterSecret`.
      operationId: getDeviceByLocation
      summary: List Devices By Location
  '/device/forregion/{region}':
    get:
      parameters:
        - description: The id of the region
          example: 5245bc5b3e66a3b01f0024d4
          in: path
          name: region
          required: true
          schema:
            type: string
        - description: The maximum number of results to retrieve.
          example: '10'
          in: query
          name: limit
          required: false
          schema:
            default: 100
            type: number
        - description: The number of results to skip
          example: '0'
          in: query
          name: skip
          required: false
          schema:
            type: number
      responses:
        '200':
          content:
            application/json; charset=utf-8:
              example:
                count: 2
                devices:
                  - tags:
                      - toys
                    _id: 5245bc5b3e66a3b01f0024d4
                    active: true
                    appVersion: '1.0'
                    application: 52458981394c07916000492c
                    deviceID: 00a9b9bf-c099-45aa-9278-64d6a3f22476
                    deviceString: MacIntel
                    language: en
                    lastActive: '2014-03-11T16:20:55.084Z'
                    location:
                      coordinates:
                        - 4.2345
                        - 5.6789
                      type: Point
                    medium: push
                    osString: Mac OS X 10.9.2
                    osVersion: 10.9.2
                    platform: Mac OS X
                    sdkVersion: 0.0.1
                    timeZoneOffset: -5
                    transport: Websocket
                    userID: info@notifica.re
                  - tags:
                      - toys
                    _id: 5245bc5b3e66a3b01f0024d4
                    active: true
                    appVersion: '1.0'
                    application: 52458981394c07916000492c
                    deviceID: 00a9b9bf-c099-45aa-9278-64d6a3f22476
                    deviceString: MacIntel
                    language: en
                    lastActive: '2014-03-11T16:20:55.084Z'
                    location:
                      coordinates: []
                      type: Point
                    medium: push
                    osString: Mac OS X 10.9.2
                    osVersion: 10.9.2
                    platform: Mac OS X
                    sdkVersion: 0.0.1
                    timeZoneOffset: -5
                    transport: Websocket
                    userID: info@notifica.re
          description: OK
      tags:
        - Device
      description: >-
        Get all the devices in a specific region. If skip and limit are not
        used, there is a default size of 100 devices. Please note that there is
        a max. size of 1000 devices per page.

        This request is authenticated with the `applicationKey` and
        `masterSecret`.
      operationId: getDeviceForRegion
      summary: List Devices For Region
  '/device/forsubscription/{subscription}':
    get:
      parameters:
        - description: The subscription Id the device is associated with
          example: 00a9b9bf-c099-45aa-9278-64d6a3f22476
          in: path
          name: subscription
          required: true
          schema:
            type: string
        - description: >-
            The medium for the device. Possible values are `push`, `email` or
            `sms`
          example: push
          in: query
          name: medium
          required: true
          schema:
            type: string
        - description: The maximum number of results to retrieve.
          example: '10'
          in: query
          name: limit
          required: false
          schema:
            default: 100
            type: number
        - description: The number of results to skip
          example: '0'
          in: query
          name: skip
          required: false
          schema:
            type: number
      responses:
        '200':
          content:
            application/json; charset=utf-8:
              example:
                count: 2
                devices:
                  - tags: []
                    _id: 5245bc5b3e66a3b01f0024d4
                    active: true
                    appVersion: '1.0'
                    application: 52458981394c07916000492c
                    deviceID: 00a9b9bf-c099-45aa-9278-64d6a3f22476
                    deviceString: MacIntel
                    language: en
                    lastActive: '2014-03-11T16:20:55.084Z'
                    location:
                      coordinates:
                        - 4.2345
                        - 5.6789
                      type: Point
                    medium: push
                    osString: Mac OS X 10.9.2
                    osVersion: 10.9.2
                    platform: Mac OS X
                    sdkVersion: 0.0.1
                    timeZoneOffset: -5
                    transport: Websocket
                    userID: info@notifica.re
          description: OK
      tags:
        - Device
      description: >-
        Get a device by its specific subscription Id. The subscription Id is
        generated automatically for each device created.

        This request is authenticated with the `applicationKey` and
        `masterSecret`.
      operationId: getDeviceForSubscription
      summary: Get Device For Subscription
  '/device/fortag/{tag}':
    get:
      parameters:
        - description: The tag the device is associated with
          example: toys
          in: path
          name: tag
          required: true
          schema:
            type: string
        - description: The maximum number of results to retrieve.
          example: '10'
          in: query
          name: limit
          required: false
          schema:
            default: 100
            type: number
        - description: The number of results to skip
          example: '0'
          in: query
          name: skip
          required: false
          schema:
            type: number
      responses:
        '200':
          content:
            application/json; charset=utf-8:
              example:
                count: 2
                devices:
                  - tags: []
                    _id: 5245bc5b3e66a3b01f0024d4
                    active: true
                    appVersion: '1.0'
                    application: 52458981394c07916000492c
                    deviceID: 00a9b9bf-c099-45aa-9278-64d6a3f22476
                    deviceString: MacIntel
                    language: en
                    lastActive: '2014-03-11T16:20:55.084Z'
                    location:
                      coordinates:
                        - 4.2345
                        - 5.6789
                      type: Point
                    medium: push
                    osString: Mac OS X 10.9.2
                    osVersion: 10.9.2
                    platform: Mac OS X
                    sdkVersion: 0.0.1
                    timeZoneOffset: -5
                    transport: Websocket
                    userID: info@notifica.re
                  - tags: []
                    _id: 5245bc5b3e66a3b01f0024d4
                    active: true
                    appVersion: '1.0'
                    application: 52458981394c07916000492c
                    deviceID: 00a9b9bf-c099-45aa-9278-64d6a3f22476
                    deviceString: MacIntel
                    language: en
                    lastActive: '2014-03-11T16:20:55.084Z'
                    location:
                      coordinates:
                        - 4.2345
                        - 5.6789
                      type: Point
                    medium: push
                    osString: Mac OS X 10.9.2
                    osVersion: 10.9.2
                    platform: Mac OS X
                    sdkVersion: 0.0.1
                    timeZoneOffset: -5
                    transport: Websocket
                    userID: info@notifica.re
          description: OK
      tags:
        - Device
      description: >-
        Get all the devices for a specific tag. If skip and limit are not used,
        there is a default size of 100 devices. Please note that there is a max.
        size of 1000 devices per page.

        This request is authenticated with the `applicationKey` and
        `masterSecret`.
      operationId: getDeviceForTag
      summary: List Devices For Tag
  '/device/foruser/{userID}':
    get:
      parameters:
        - description: >-
            The user ID is the one the client device registered with, e.g., the
            user's email address.
          example: testuser@example.com
          in: path
          name: userID
          required: true
          schema:
            type: string
        - description: The maximum number of results to retrieve.
          example: '10'
          in: query
          name: limit
          required: false
          schema:
            default: 100
            type: number
        - description: The number of results to skip
          example: '0'
          in: query
          name: skip
          required: false
          schema:
            type: number
      responses:
        '200':
          content:
            application/json; charset=utf-8:
              example:
                count: 2
                devices:
                  - tags: []
                    _id: 5245bc5b3e66a3b01f0024d4
                    active: true
                    appVersion: '1.0'
                    application: 52458981394c07916000492c
                    deviceID: 00a9b9bf-c099-45aa-9278-64d6a3f22476
                    deviceString: MacIntel
                    language: en
                    lastActive: '2014-03-11T16:20:55.084Z'
                    location:
                      coordinates:
                        - 4.2345
                        - 5.6789
                      type: Point
                    medium: push
                    osString: Mac OS X 10.9.2
                    osVersion: 10.9.2
                    platform: Mac OS X
                    sdkVersion: 0.0.1
                    timeZoneOffset: -5
                    transport: Websocket
                    userID: info@notifica.re
                  - tags: []
                    _id: 5245bc5b3e66a3b01f0024d4
                    active: true
                    appVersion: '1.0'
                    application: 52458981394c07916000492c
                    deviceID: 00a9b9bf-c099-45aa-9278-64d6a3f22476
                    deviceString: MacIntel
                    language: en
                    lastActive: '2014-03-11T16:20:55.084Z'
                    location:
                      coordinates:
                        - 4.2345
                        - 5.6789
                      type: Point
                    medium: push
                    osString: Mac OS X 10.9.2
                    osVersion: 10.9.2
                    platform: Mac OS X
                    sdkVersion: 0.0.1
                    timeZoneOffset: -5
                    transport: Websocket
                    userID: info@notifica.re
          description: OK
      tags:
        - Device
      description: >-
        Get all the devices for a specific user. If skip and limit are not used,
        there is a default size of 100 devices. Please note that there is a max.
        size of 1000 devices per page.

        This request is authenticated with the `applicationKey` and
        `masterSecret`.
      operationId: getDeviceForUser
      summary: List Devices For User
  /device/tags:
    get:
      parameters:
        - description: The maximum number of results to retrieve.
          example: '10'
          in: query
          name: limit
          required: false
          schema:
            default: 100
            type: number
        - description: The number of results to skip
          example: '0'
          in: query
          name: skip
          required: false
          schema:
            type: number
      responses:
        '200':
          content:
            application/json; charset=utf-8:
              example:
                tags:
                  - deviceCount: 2
                    tag: toys
                  - deviceCount: 5
                    tag: kitchen
                count: 2
          description: OK
      tags:
        - Tag
      description: >-
        Get the list of all tags for this application. If skip and limit are not
        used, there is a default size of 100 devices. Please note that there is
        a max. size of 1000 devices per page.

        This request is authenticated with the `applicationKey` and
        `masterSecret`.
      operationId: getDeviceTags
      summary: List Tags
  '/device/tags/{tag}':
    get:
      parameters:
        - description: The string to search for
          example: toys
          in: path
          name: tag
          required: true
          schema:
            type: string
      responses:
        '200':
          content:
            application/json; charset=utf-8:
              example:
                tags:
                  - deviceCount: 2
                    tag: toys
                  - deviceCount: 5
                    tag: kitchen
                count: 2
          description: OK
      tags:
        - Tag
      description: >-
        Get all the tags that match match partially or totally a specific query.

        This request is authenticated with the `applicationKey` and
        `masterSecret`.
      operationId: getDeviceTagsForTag
      summary: Search Tags
  '/device/{deviceID}':
    get:
      parameters:
        - description: The deviceID is the unique identifier provided by APNS or GCM.
          example: 00a9b9bf-xxx9278-64d6a3f22476
          in: path
          name: deviceID
          required: true
          schema:
            type: string
        - description: A property that defines if inactive devices should also be found.
          example: any
          in: query
          name: active
          required: false
          schema:
            type: string
      responses:
        '200':
          content:
            application/json; charset=utf-8:
              example:
                device:
                  tags: []
                  _id: 5245bc5b3e66a3b01f0024d4
                  active: true
                  appVersion: '1.0'
                  application: 52458981394c07916000492c
                  deviceID: 00a9b9bf-c099-45aa-9278-64d6a3f22476
                  deviceString: MacIntel
                  language: en
                  lastActive: '2014-03-11T16:20:55.084Z'
                  location:
                    coordinates:
                      - 4.2345
                      - 5.6789
                    type: Point
                  medium: push
                  osString: Mac OS X 10.9.2
                  osVersion: 10.9.2
                  platform: Mac OS X
                  sdkVersion: 0.0.1
                  timeZoneOffset: -5
                  transport: Websocket
                  userID: info@notifica.re
          description: OK
      tags:
        - Device
      description: >-
        Get a specific device based on the deviceID.

        This request is authenticated with the `applicationKey` and
        `masterSecret`.
      operationId: getDeviceById
      summary: Get Device
  '/device/{deviceID}/user':
    put:
      parameters:
        - description: The deviceID is the unique identifier provided by APNS or GCM.
          example: 00a9b9bf-xxx9278-64d6a3f22476
          in: path
          name: deviceID
          required: true
          schema:
            type: string
      responses:
        '200':
          content:
            application/json; charset=utf-8:
              example:
                message: device updated
          description: OK
      tags:
        - Device
      description: >-
        Register a userID and userName to a device. For this endpoint to work,
        you need to set the User Registration to API Level. This can be done
        from the Settings > Configure App > User Registration or (if you have
        the Users & Authentication add-on) from the Users & Authentication
        add-on service page. This will prevent you apps from registering users
        with only the app keys and instead you can take care of this at the
        server side. Use this method to add a userID and userName to a device.

        This request is authenticated with the `applicationKey` and
        `masterSecret`.
      operationId: putDeviceUser
      requestBody:
        content:
          application/json:
            schema:
              example:
                userID: '12345678'
                userName: John Doe
              properties:
                userID:
                  type: string
                userName:
                  type: string
              type: object
      summary: Register User To Device
    delete:
      parameters:
        - description: The deviceID is the unique identifier provided by APNS or GCM.
          example: 00a9b9bf-xxx9278-64d6a3f22476
          in: path
          name: deviceID
          required: true
          schema:
            type: string
      responses:
        '200':
          content:
            application/json; charset=utf-8:
              example:
                message: device updated
          description: OK
          headers: {}
      tags:
        - Device
      description: >-
        Unregister a userID and userName from a device. For this endpoint to
        work, you need to set the User Registration to API Level. This can be
        done from the Settings > Configure App > User Registration or (if you
        have the Users & Authentication add-on) from the Users & Authentication
        add-on service page. This will prevent you apps from registering users
        with only the app keys and instead you can take care of this at the
        server side. Use this method to remove a userID and userName from a
        device.

        This request is authenticated with the `applicationKey` and
        `masterSecret`.
      operationId: deleteDeviceUser
      summary: Unregister User From Device
  /email:
    post:
      responses:
        '200':
          content:
            application/json; charset=utf-8:
              example:
                message: subscription updated
          description: OK
        '202':
          content:
            application/json; charset=utf-8:
              example:
                message: subscription is being processed
          description: Accepted
      tags:
        - Email
      description: >-
        Create an email contact for your application.

        This request is authenticated with the `applicationKey` and
        `masterSecret`.
      operationId: postEmail
      requestBody:
        content:
          application/json:
            schema:
              properties:
                tags:
                  description: A list of tags you wish to assign to the email address.
                  items:
                    type: string
                  type: array
                  example: ['tag1']
                email:
                  description: The email address you wish to subscribe to your app.
                  type: string
                  format: email
                language:
                  description: The language you wish to assign the contact to.
                  type: string
                  example: 'nl'
                region:
                  description: The region you wish to assign the contact to.
                  type: string
                  example: 'NL'
                userID:
                  description: The userID your wish to assign the contact to.
                  type: string
                  example: '173661892772'
                userName:
                  description: The userName your wish to assign the contact to.
                  type: string
                  example: Test User
                verify:
                  description: >-
                    If you wish to require verification before activating the
                    email contact set this property to `true`.
                  type: boolean
              required:
                - email
              type: object
      summary: Create Email Contact
  '/event/custom/{type}/{userID}':
    post:
      parameters:
        - description: >-
            The type of custom event. This event type is automatically prepended
            with `re.notifica.event.custom.` namespace to prevent collisions.
          example: MyCustomEvent
          in: path
          name: type
          required: true
          schema:
            type: string
        - description: >-
            The user this event is triggered for. All automations and
            notification will apply to all of the devices of this user.
          example: test@example.com
          in: path
          name: userID
          required: true
          schema:
            type: string
      responses:
        '202':
          content:
            application/json; charset=utf-8:
              example:
                message: event is being processed
          description: Accepted
      tags:
        - Event
      description: >-
        Generate Custom Event for a specific User. Data sent in the payload can
        be accessed as placeholder data in automated notifications. In the
        example below, a placeholder `{{test}}` in an automated notification
        would be replaced by `a test value`.

        This request is authenticated with the `applicationKey` and
        `masterSecret`.
      operationId: postEventCustomForUser
      requestBody:
        content:
          application/json:
            schema:
              properties:
                data:
                  additionalProperties:
                    type: string
                  example:
                    key1: value1
                    key2: value2
                  type: object
              type: object
      summary: Create Custom Event
  '/event/fortype/{type}':
    get:
      parameters:
        - description: The type of event.
          example: re.notifica.event.application.Install
          in: path
          name: type
          required: true
          schema:
            type: string
        - description: The maximum number of results to retrieve.
          example: '10'
          in: query
          name: limit
          required: false
          schema:
            default: 100
            type: number
        - description: The number of results to skip
          example: '0'
          in: query
          name: skip
          required: false
          schema:
            type: number
        - description: When provided will only retrieve events after this date
          example: '2014-10-03'
          in: query
          name: since
          required: false
          schema:
            type: string
        - description: >-
            When provided will only retrieve events before this date (only
            available when a since date is provided)
          example: '2014-10-04'
          in: query
          name: before
          required: false
          schema:
            type: string
        - description: >-
            When provided will only retrieve events for the userID. Requires
            since and before to be set as well.
          example: user@example.com
          in: query
          name: userID
          required: false
          schema:
            type: string
        - description: >-
            When provided will only retrieve events for the deviceID. Requires
            since and before to be set as well.
          example: bbff2ce9b547d2df4731bac277xxx
          in: query
          name: deviceID
          required: false
          schema:
            type: string
        - description: >-
            The region's id of an event of type re.notifica.event.region.Session
            or re.notifica.event.beacon.Session
          in: query
          name: region
          required: false
          schema:
            $ref: '#/components/schemas/ObjectId'
        - description: >-
            The beacon's fence region id of an event of type
            re.notifica.event.beacon.Session
          in: query
          name: fence
          required: false
          schema:
            $ref: '#/components/schemas/ObjectId'
        - description: >-
            The pass id of an event of type re.notifica.event.pass.Add,
            re.notifica.event.pass.Remove or re.notifica.event.pass.Redeem
          in: query
          name: pass
          required: false
          schema:
            $ref: '#/components/schemas/ObjectId'
        - description: >-
            The pass serial of an event of type re.notifica.event.pass.Add,
            re.notifica.event.pass.Remove or re.notifica.event.pass.Redeem
          in: query
          name: serial
          required: false
          schema:
            type: string
            format: uuid
        - description: >-
            The asset group's id of an event of type
            re.notifica.event.asset.Load
          in: query
          name: group
          required: false
          schema:
            $ref: '#/components/schemas/ObjectId'
        - description: >-
            The scannable's id of an event of type
            re.notifica.event.scannable.Scan
          in: query
          name: scannable
          required: false
          schema:
            $ref: '#/components/schemas/ObjectId'
        - description: >-
            The notification's id of an event of type
            re.notifica.event.notification.Sent,
            re.notifica.event.notification.Receive,
            re.notifica.event.notification.Open or
            re.notifica.event.notification.Influenced
          in: query
          name: notification
          required: false
          schema:
            $ref: '#/components/schemas/ObjectId'
      responses:
        '200':
          content:
            application/json; charset=utf-8:
              example:
                events:
                  - _id: 542f153401d51284b
                    application: 5354f3545a544452ff4c7c0
                    sessionID: 5SX4tAsd534MjuHL
                    time: '2014-10-03T21:43:04.231Z'
                    type: re.notifica.event.application.Install
                    userID: null
                  - _id: 542f153401d51284b
                    application: 5354f3545a544452ff4c7c0
                    sessionID: 5SX4tAsd534MjuHL
                    time: '2014-10-03T21:43:04.231Z'
                    type: re.notifica.event.application.Install
                    userID: null
                count: 2
          description: OK
      tags:
        - Event
      description: >-
        Get all the events for a type for a specific application.

        This request is authenticated with the `applicationKey` and
        `masterSecret`.
      operationId: getEventForType
      summary: List Events For Type
  '/event/{id}':
    get:
      parameters:
        - description: The event's Id.
          in: path
          name: id
          required: true
          schema:
            $ref: '#/components/schemas/ObjectId'
      responses:
        '200':
          content:
            application/json; charset=utf-8:
              example:
                event:
                  _id: 542f153401d51284b
                  application: 5354f3545a544452ff4c7c0
                  sessionID: 5SX4tAsd534MjuHL
                  time: '2014-10-03T21:43:04.231Z'
                  type: re.notifica.event.application.Install
                  userID: null
          description: OK
      tags:
        - Event
      description: >-
        Get a specific event object.

        This request is authenticated with the `applicationKey` and
        `masterSecret`.
      operationId: getEventById
      summary: Get Event
  /export:
    get:
      responses:
        '200':
          content:
            application/json; charset=utf-8:
              example:
                exportJobs:
                  - _id: 54fec699beb5cb2f6f9839ed
                    application: 5354f08474adc4183214c143
                    data: null
                    date: '2015-03-10T10:25:29.340Z'
                    result: >-
                      created export file export-user-1425983129369.csv (919
                      bytes)
                    status: success
                    type: re.notifica.export.User
          description: OK
      tags:
        - Export
      description: >-
        Get all export jobs for an application.

        This request is authenticated with the `applicationKey` and
        `masterSecret`.
      operationId: getExport
      summary: List Export Jobs
  '/export/fortype/{type}':
    get:
      parameters:
        - description: The export type
          example: re.notifica.export.User
          in: path
          name: type
          required: true
          schema:
            type: string
      responses:
        '200':
          content:
            application/json; charset=utf-8:
              example:
                exportJobs:
                  - _id: 54fec699beb5cb2f6f9839ed
                    application: 5354f08474adc4183214c143
                    data:
                      all: true
                      before: '2017-01-13'
                      campaign: 5354f08474adc4183214c143
                      fence: 5354f08474adc4183214c143
                      includeTags: true
                      notification: 5354f08474adc4183214c143
                      region: 5354f08474adc4183214c143
                      serial: 5354f08474adc4183214c143
                      showCombinedSegments: true
                      showPreferences: true
                      showSegments:
                        - 5354f08474adc4183214c143
                      since: '2017-01-12'
                      tagsSeparator: '|'
                      type: re.notifica.event.application.Open
                      useSegmentNames: true
                      userID: 5354f08474adc4183214c143
                    date: '2015-03-10T10:25:29.340Z'
                    result: >-
                      created export file export-user-1425983129369.csv (919
                      bytes)
                    status: success
                    type: re.notifica.export.User
          description: OK
      tags:
        - Export
      description: >-
        Get all export jobs of a specific type.

        This request is authenticated with the `applicationKey` and
        `masterSecret`.
      operationId: getExportForType
      summary: List Exports For Type
  /export/re.notifica.export.Device:
    post:
      responses:
        '201':
          content:
            application/json; charset=utf-8:
              schema:
                properties:
                  exportJob:
                    $ref: '#/components/schemas/ObjectCreated'
          description: Created
      tags:
        - Export
      description: >-
        Export devices, contacts or numbers for an application. This job might
        take some time to finish, check the export result endpoint to obtain
        information about the status of this export job.

        This request is authenticated with the `applicationKey` and
        `masterSecret`.
      operationId: postExportDevice
      requestBody:
        content:
          application/json:
            schema:
              properties:
                data:
                  properties:
                    all:
                      description: >-
                        Specify if export job should include all devices, including
                        inactive ones
                      type: boolean
                    criteria:
                      $ref: '#/components/schemas/Criteria'
                      description: >-
                        Optionally you can include a criteria object to filter the
                        export results
                    includeTags:
                      description: Specify if export job should include all device tags
                      type: boolean
                    medium:
                      description: >-
                        Specify if export job results should include a specific type
                        fo medium (available values are: all, push, email, sms)
                      type: string
                      enum: [all, push, email, sms]
                    tagsSeparator:
                      description: >-
                        Specify if export jobs should use a different separator for
                        the tags. By default we will use |
                      type: string
                      default: '|'
                  type: object
              required:
                - data
              type: object
      summary: Export Devices/Contacts/Numbers
  /export/re.notifica.export.User:
    post:
      responses:
        '201':
          content:
            application/json; charset=utf-8:
              schema:
                properties:
                  exportJob:
                    $ref: '#/components/schemas/ObjectCreated'
          description: Created
      tags:
        - Export
      description: >-
        Export all users for an application. This job might take some time to
        finish, check the export result endpoint to obtain information about the
        status of this export job.

        This request is authenticated with the `applicationKey` and
        `masterSecret`.
      operationId: postExportUser
      requestBody:
        content:
          application/json:
            schema:
              properties:
                data:
                  properties:
                    all:
                      description: >-
                        Specify if export job should include all users, including
                        inactive ones
                      type: boolean
                    lastActive:
                      $ref: '#/components/schemas/DateCriteria'
                      description: >-
                        Optionally you can filter the export results based on the
                        last active date
                    registrationDate:
                      $ref: '#/components/schemas/DateCriteria'
                      description: >-
                        Optionally you can filter the export results based on the
                        registration date
                    segmentsCriteria:
                      $ref: '#/components/schemas/SegmentsCriteria'
[...]
